<section class="content">
    <div class="container-fluid">
        <div class="block-header"> </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                <div class="card">
                    <div class="header">
                        <h2>Employee Details </h2>
                    </div>
                    <div class="body">
                        <form autocomplete="off" #f="ngForm" (ngSubmit)="onSubmit();">
                            <div class="row">
                                <div class="col-md-10 col-11">
                                    <div class="row ">
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Name</mat-label>
                                                <input matInput name="Name" [(ngModel)]="data.Name" minlength="3"
                                                    required #UserNamecontrol autocomplete="off" autocomplete="nope"
                                                    appAutoFoucsDirectives>
                                                <mat-error *ngIf="UserNamecontrol.required"> User Name is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>DOB</mat-label>
                                                <input matInput name="DOB" type="date" [(ngModel)]="data.DOB">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Anniversary</mat-label>
                                                <input matInput name="Anniversary" type="date"
                                                    [(ngModel)]="data.Anniversary">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Mobile No1</mat-label>
                                                <input matInput type="number" name="MobileNo1"
                                                    [(ngModel)]="data.MobileNo1"  #MobileNo1control>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Mobile No2</mat-label>
                                                <input matInput type="number" name="MobileNo2"
                                                    [(ngModel)]="data.MobileNo2" #MobileNo2control>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>PhoneNo</mat-label>
                                                <input matInput name="PhoneNo" type="number" [(ngModel)]="data.PhoneNo"
                                                    #PhoneNocontrol>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Address</mat-label>
                                                <input matInput name="Address" [(ngModel)]="data.Address" required
                                                    #Addresscontrol minlength="2">
                                                <mat-error>
                                                    Atleast 2 characters is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Email</mat-label>
                                                <input matInput name="Email" type="email" [(ngModel)]="data.Email"
                                                    #Emailcontrol required>
                                                <mat-error>
                                                    InValid Emailid.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Loyalty Type</mat-label>
                                                <mat-select name="CommissionType" [(ngModel)]="data.CommissionType"
                                                    required #CommissionTypecontrol>
                                                    <mat-option [value]=0>No Loyalty</mat-option>
                                                    <mat-option [value]=1>Per Sale Loyalty</mat-option>
                                                    <mat-option [value]=2>Per Item Loyalty</mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    Select Loyalty Type
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="data.CommissionType == 1 || data.CommissionType == 2 " class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Loyalty Mode</mat-label>
                                                <mat-select name="CommissionMode" [(ngModel)]="data.CommissionMode"
                                                    required #CommissionTypecontrol>
                                                    <mat-option [value]=0>Percentage</mat-option>
                                                </mat-select>
                                                <mat-error> Select Loyalty Type</mat-error>
                                            </mat-form-field>
                                        </div>
                                       
                                        <div *ngIf="data.CommissionType == 2 || data.CommissionType == 1" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Loyalty Value (Brand Wise)</mat-label>
                                                <input matInput type="number" name="CommissionValue"
                                                    [(ngModel)]="data.CommissionValue" #CommissionValuecontrol required>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="data.CommissionType == 2 " class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Loyalty Value(Non Brand Wise)</mat-label>
                                                <input matInput type="number" name="CommissionValueNB"
                                                    [(ngModel)]="data.CommissionValueNB" #CommissionValueNBcontrol required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>LoginName</mat-label>
                                                <input matInput name="LoginName" [(ngModel)]="data.LoginName" required
                                                    #LoginNamecontrol minlength="3" autocomplete="off"
                                                    autocomplete="nope">
                                                <mat-error>Fill Login Name minimum length 3 </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="this.id == 0" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Password</mat-label>
                                                <input matInput name="Password" [(ngModel)]="data.Password" required
                                                    #Passwordcontrol minlength="3" autocomplete="off" type="password"
                                                    autocomplete="new-password">
                                                <mat-error> Fill Password atleast 3 digit.</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0 mt-2 mb-3">
                                                <button class="me-3" type="button" mat-raised-button color="primary"  [disabled]="id == 0 || !f.valid" *ngIf=" id != 0" (click)="updateUser()" >Update</button>
                                                <button type="submit" class="me-3" mat-raised-button color="primary" [disabled]="!f.valid  " *ngIf="id == 0">Save</button>
                                                <button type="button" mat-raised-button [routerLink]="['/admin/employeeList']">Back</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 ps-md-5">
                                    <div class="row">
                                        <div class="col-12 mt-1 " >
                                            <img class="fit-picture" width="170" height="170" [src]="userImage">
                                        </div>
                                        <div class="col-xl-10 col-lg-10 col-md-10 col-11 mb-0 " (click)="fileInput.click()" style="cursor: pointer;">
                                            <i class="fa-solid fa-cloud-arrow-up upload_icon" >
                                                <span style="font-size: 10px;letter-spacing: 2px;">  User Image </span>
                                            </i>
                                            <input  #fileInput id="my-input" name='PhotoURL' type="file" [(ngModel)]="data.PhotoURL" (change)="uploadImage($event, 'company')" style="display:none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- empolyess shop permision -->
                        <div class="row" style="margin: 0;">
                            <div class="col-md-5 col-12 ps-0">
                                <form #assignForm="ngForm" (ngSubmit)="saveUserShop();">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <mat-form-field class="example-full-width mb-0"
                                                [class.has-error]="ShopControl.invalid && ShopControl.touched"
                                                [class.has-success]="ShopControl.valid">
                                                <mat-label>Select Shop</mat-label>
                                                <mat-select name="ShopID" [(ngModel)]="UserShop.ShopID" required #ShopControl="ngModel">
                                                    <mat-option [value]="s.ID" *ngFor="let s of dropShoplist"> {{s.Name}}<span [style.color]="'blue'" *ngIf="s.AreaName !== 'null'"> ({{s.AreaName}})</span> </mat-option>
                                                </mat-select>
                                                <mat-error> Shop is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-6">
                                            <mat-form-field class="example-full-width mb-0"
                                                [class.has-error]="RoleControl.invalid && RoleControl.touched"
                                                [class.has-success]="RoleControl.valid">
                                                <mat-label>Select Role</mat-label>
                                                <mat-select name="RoleID" [(ngModel)]="UserShop.RoleID" required #RoleControl="ngModel">
                                                    <mat-option [value]="r.ID" *ngFor="let r of roleList"> {{r.Name}} </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="RoleControl.invalid && RoleControl.touched"> Role is
                                                    required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-12">
                                            <button type="submit" class="me-3" mat-raised-button color="primary"
                                                [disabled]="!assignForm.valid" *ngIf="this.id == 0">Save </button>
                                                <button type="button" class="me-3" mat-raised-button color="primary"
                                                [disabled]="!assignForm.valid" *ngIf="this.id != 0" (click)="updateUserShop()">Update </button>
                                            <!-- <button type="button" mat-raised-button
                                                (click)="assignForm.reset()">Cancel</button> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-container col-md-7 col-12"
                                style="overflow-x:auto;overflow:auto;height:200px;">
                                <table class="table table-striped table-hover table-sm table-bordered"
                                style="border: 2px solid #fff !important;">
                                    <thead class="thead-light">
                                        <tr >
                                            <th class="text-left">Action</th>
                                            <th class="text-left">S.No</th>
                                            <th class="text-left">ShopName</th>
                                            <th class="text-left">AreaName</th>
                                            <th class="text-left">Role</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let s of userList; let i = index">
                                            <td class="text-center">
                                                <mat-icon class="delete_icon me-1" (click)="deleteItem(i)">delete_forever</mat-icon>
                                                <mat-icon class="edit_icon" (click)="editUserShop(s)">edit</mat-icon>
                                            </td>
                                            <td class="text-center">{{i+1}}</td>
                                            <td class="text-center">{{s.ShopName}}</td>
                                            <td class="text-center">{{s.AreaName}}</td>
                                            <td class="text-center">{{s.RoleName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>