<div *ngIf="company.ID != 241">


<section class="content d-md-block d-none" >
    <div class="container-fluid " >
        <div class="row p-4 mt-0 ">
            <div *ngFor="let stat of cards" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 crds ">
                <app-dashcard [title]="stat.title" [attr.title]="stat.titleName" [icon]="stat.icon" [routersLinks]="stat.routersLinks">
                </app-dashcard>
            </div>
        </div>
        </div>
    </section>

    <section class="content d-md-none d-block" style="background: linear-gradient(139deg, rgb(255 81 0 / 29%) 50%, rgb(30 38 114 / 35%) 50%)">
        <div class="container-fluid ">
        <div class="row p-4 mt-0 ">
            <div *ngFor="let stat of cards" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6  crdsa" >
                <app-dashcard [title]="stat.title" [attr.title]="stat.titleName" [icon]="stat.icon" [routersLinks]="stat.routersLinks">
                </app-dashcard>
            </div>
        </div>
    </div>
</section>

</div>

<div *ngIf="company.ID == 241">

    <section *ngIf="this.user.UserGroup === 'CompanyAdmin'" class="content d-md-block d-none" >
        <div class="container-fluid " >
            <div class="row p-4 mt-0 ">
                <div  class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12  ">
                    <div class="row mt-0 ">
                        <div *ngFor="let stat of cards" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6  crdsa" >
                            <app-dashcard [title]="stat.title" [attr.title]="stat.titleName" [icon]="stat.icon" [routersLinks]="stat.routersLinks">
                            </app-dashcard>
                        </div>
                    </div>
                </div>
                <div  class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12  pt-4 ps-4">
                    <table class="table1 bg-light" style="width:100%">
                        <thead>
                            <tr>
                                <th colspan="5" class="p-3" style="color: re;background: #dddddd;color: #1e2672;font-size: x-large;">Today Report</th>
                            </tr>
                            <tr>
                                <th>Sale Amount</th>
                                <th>Received Amount</th>
                                <th>Due Amount</th>
                                <th>Old Amount</th>
                                <th>Expenses Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{this.AmountSale}}</td>
                                <td>{{this.AmountRecieve}}</td>
                                <td>{{this.AmountDue}}</td>
                                <td>{{this.OldAmountRecieve}}</td>
                                <td>{{this.AmountExpense}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               
                <div  class="col-xl-12 mt-5 col-lg-4 col-md-6 col-sm-6 col-12 p-0  ms-auto" style="background: #fff;border: 1px solid #0000003b;    box-shadow: inset 0px 0px 20px 0px #1e2672;">
                    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist" style="display: flex; justify-content: space-between;background: #dddddd;">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab"
                                href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1"
                                aria-selected="true">Sale</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3"
                                role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Collection</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2"
                                role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Customer Balance</a>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex1-tab-4" data-mdb-toggle="tab" href="#ex1-tabs-4"
                                role="tab" aria-controls="ex1-tabs-4" aria-selected="false">Supplier Balance</a>
                        </li> -->
                    </ul>

                    <div class="tab-content bg-light" id="ex1-content ">
                        <div class="tab-pane fade show active " id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1"  >
                            <div style=" height: 400px; overflow: auto;">
                                <table class="table2 bg-light" style="width:100%; ">
                                    <thead>
                                        <tr>
                                            <th>ShopName</th>
                                            <th>Sale Amonut</th>
                                            <th>Paid Amonut</th>
                                            <th>Balance Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let s of SaleList let i = index;">
                                            <td>{{s.ShopName}}</td>
                                            <td>{{s.SaleAmount}}</td>
                                            <td>{{s.PaidAmount}}</td>
                                            <td>{{s.BalanceAmount}}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div >
                                <table class="tableTfoot bg-light" style="width:100%; ">
                                    <tfoot>
                                        <tr>
                                            <th style="width: 48%;">Total </th>
                                            <th >Sale Amt - {{this.SaleTotalSaleAmount}}</th>
                                            <th>Paid Amt - {{this.SaleTotalPaidAmount}}</th>
                                            <th>Balance Amt - {{this.SaleTotalBalanceAmount}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            
                        </div>

                        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                            <div style=" height: 400px; overflow: auto;">
                            <table class="table2 bg-light" style="width:100%;overflow: auto;">
                                <thead>
                                    <tr>
                                        <th style="width: 30%;">ShopName</th>
                                        <th>New Amount</th>
                                        <th>Old Amount</th>
                                        <th>Cash</th>
                                        <th>Card</th>
                                        <th>Momo</th>
                                        <th>Upi</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let co of CollectionList">
                                        <td style="width: 30%;">{{co.ShopName}}</td>
                                        <td>{{co.NewAmount}}</td>
                                        <td>{{co.OldAmount}}</td>
                                        <td>{{co.CASH}}</td>
                                        <td>{{co.CARD}}</td>
                                        <td>0</td>
                                        <td>{{co.UPI}}</td>
                                       
                                    
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            <div >
                                <table class="tableTfoot bg-light" style="width:100%; ">
                                    <tfoot>
                                        <tr>
                                            <th style="width: 30%;">Total - {{this.CollectionTotalAmount}} </th>
                                            
                                            <th> New Amt - {{this.CollectionTotalNewAmount}}</th>
                                            <th> Old Amt - {{this.CollectionTotalOldAmount}}</th>
                                            <th> Cash Amt -{{this.CollectionCASH}}</th>
                                            <th> Card Amt -{{this.CollectionCARD}}</th>
                                            <th> Momo Amt - 0</th>
                                            <th> Upi Amt - {{this.CollectionUPI}}</th>
                                        </tr>
                                       
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                            <div style=" height: 400px; overflow: auto;">
                            <table class="table2 bg-light" style="width:100%">
                                <thead>
                                  
                                    <tr>
                                        <th>ShopName</th>
                                        <th>Balance Amonut</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of CustomerList let i = index;">
                                        <td>{{c.ShopName}}</td>
                                        <td>{{c.BalanceAmount}}</td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div >
                            <table class="tableTfoot bg-light" style="width:100%; ">
                                <tfoot>
                                    <tr>
                                        <th style="width: 70%;">Total  </th>
                                        <th > Balance - {{this.CustomerTotalBalance}}</th>
                                    </tr>
                                   
                                </tfoot>
                            </table>
                        </div>
                        </div>
                        <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section class="content d-md-block d-none" *ngIf="this.user.UserGroup == 'Employee'">
    <div class="container-fluid " >
        <div class="row p-4 mt-0 ">
            <div *ngFor="let stat of cards" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 crds ">
                <app-dashcard [title]="stat.title" [attr.title]="stat.titleName" [icon]="stat.icon" [routersLinks]="stat.routersLinks">
                </app-dashcard>
            </div>
        </div>
        </div>
    </section>

</div>