.crds {
  padding: 0% 2%;
}

.content {
  background-size: 100%;
  background-color: #fff !important;
}

.first-letter {
  color: #ff4081; /* Set the color of the first letter */
  font-weight: bold; /* Optional: Make it bold */
}

.table1 thead tr th, .table1 tbody tr td{
  border: 1px solid #b7b7b7;
  text-align: center !important;
  font-size: larger;
  padding: 2%;
  white-space: nowrap;
  font-weight: 500;
}

.tableTfoot  tr th{
 border: 1px solid red;
 text-align: center !important;
 font-size: large;
 padding: 1%;
}


.btnRaut{
  background: #1e2672;
  color: #fff;
  text-align: center;
  padding: 3%;
  margin: 10px;
  cursor: pointer;
  box-shadow: inset 0px 0px 15px 4px #dddddd73;
  font-size: large;
  border-radius: 5px;
  transition: .5s ease-in-out;
}

.btnRaut:hover{
  box-shadow: none;
  transform: scale(.95);
}

.table2 thead tr th {
 background-color: #1e2672fc;
 font-size: large;
 padding: 1%;
 color: #fff;
}
.table2 tbody tr td {
 font-size: large;
 padding: 1%;
}

.table2 tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.nav-tabs .nav-link {
  border: solid transparent;
  border-width: 0 0 2px;
  border-radius: 0;
  text-transform: none !important;
  line-height: 1;
  font-weight: 500;
  font-size: 20px !important;

  padding: 17px 29px 16px ;
}
