.crds {
  padding: 0% 2%;
}

.content {
  background-size: 100%;
  background-color: #fff !important;
}

.first-letter {
  color: #ff4081; /* Set the color of the first letter */
  font-weight: bold; /* Optional: Make it bold */
}