table thead tr th {
    padding: 0 !important;
}
table tbody tr td {
    padding: 0 !important;
    text-align: center;
}

.whatsappIocn{
    color: #4ab032;
    margin: 10px 0px;
    transition: 0.5s;
}
.smsIocn{
    color: #1656cc;
    transition: 0.5s;
}
.emailIocn{
    color: #ff0303;
    transition: 0.5s;
}

.whatsappIocn:hover, .smsIocn:hover, .emailIocn:hover{
   transform: scale(1.2);
}

i{
cursor: pointer;
}
 .mat-ink-bar {
    background-color: #ff4401 !important;
}



.titalName{
    color: #ff5100;
    font-weight: 500;
    border: 1px solid;
    border-left: none;
    border-top: none;
    font-size: 16px;
}
.titalName2{
    color: #ff5100;
    font-weight: 800;
    border: 1px solid;
    border-right: none;
    border-top: none;
    width: 48%;

}

.crad{
    border: 1px solid #1e2672 !important;
}

.itme_button {
    margin: 0;
    background-color: #fff;
    color: #000;
    border: #1e2672 1px solid;
    border-radius: 2px 2px 0px 0px;
    font-size: 12px !important;
    margin-top: 4px;
    /* border-bottom: none; */
}

.itme_button1 {
    margin: 0;
    background-color: #fff;
    color: #000;
    border: #1e2672 1px solid;
    border-radius: 2px 2px 0px 0px;
    font-size: 12px !important;
    /* border-bottom: none; */
    margin-top: 4px;
}

.itme_button2 {
    margin: 0;
    background-color: #fff;
    color: #000;
    border: #1e2672 1px solid;
    border-radius: 2px 2px 0px 0px;
    font-size: 12px !important;
    /* border-bottom: none; */
    margin-top: 4px;
}


.itme_button:active {
    border: #ff5100 6px solid;
}
.itme_button1:active {
    border: #ff5100 6px solid;
}
.itme_button2:active {
    border: #ff5100 6px solid;
}

button:hover {
    transform: scale(1);
    transition: 0.5s;
    background-color: #dfdfdf;
    color: #202020;
}

.my_class {
    background-color: #1e2672;
    color: #fff;
}