/* model popup width and height clsaa start */


/* model popup width and height clsaa end */


.bg-none{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    height: 35px;
  }

button:disabled .edit_icon {
    background-color: #bdbdbd;
    color: #878787;
}

button:disabled .delete_icon {
    background-color: #bdbdbd;
    color: #878787;
}