<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                    <div class="card p-0">
                        <div class="header p-2 py-0 pt-1">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 p-0 ps-3">
                                    <h2 >Opticalguru New Updates (Your Software Up To Date) </h2>
                                </div>
                            </div>
                        </div>
                            <div class="row m-3 ">
                                <div class="col-md-12 ">
                                   <div *ngFor="let item of data;let i = index;">
                                       <button class="accordion" (click)="toggleAccordian($event, i)"> Date: {{item.parentName}} </button>
                                       <div class="panel" hide="!item.isActive">
                                         <p class="m-0 p-0 h3" *ngFor="let child of item.childProperties ; let i = index;" >  {{child.propertyName}} </p>
                                       </div>
                                     </div> 
                                </div>
                             </div>
                        <!-- <div class="row mt-md-2 mt-5 p-md-2 p-3 ">
                           <div class="col-12" style="font-size: 20px; line-height: 30px;">
                               <h2 style="color: #ffea00;"> New Updates Date 27-04-2024 </h2>
                               <P>1. Universal Language integration with WhatsApp messages. Now you can send sms in Hindi, Marathi, Arabic etc.</P>
                               <p>2. Inventory Report- All stock buttons are added in the report. Click on all stock buttons and check your stock in a single click.</p>
                               <p>3. Opening/Closing stock report merge in Inventory Report(amount wise/Qty wise) till 30 April report will be in testing mode. From 1 May 2024 will be working.</p>
                               <p>4. Old Customer power Change date option added in customer page.</p>
                               <p>5. You can make the lens price list easily with power. Call OPTICALGURU for this feature.</p>
                            </div>
                        </div>
                        <div class="row mt-md-2 mt-5 p-md-2 p-3 ">
                           <div class="col-12" style="font-size: 20px; line-height: 30px;">
                               <h2 style="color: #ffea00;"> New Updates Date 19-02-2024 </h2>
                               <P>1. Customer Order Ready WhatsApp message integration.</P>
                               <P>Follow steps</P>
                                    <ul>
                                        <li>Customer List</li>
                                        <li>Sale Report => Product pending Report</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="row mt-md-2 mt-5 p-md-2 p-3 ">
                           <div class="col-12" style="font-size: 20px; line-height: 30px;">
                               <h2 style="color: #ffea00;"> New Updates Date 08-02-2024 </h2>
                               <P>1. WhatsApp SMS format done with your software, Please read and cross check.</P>
                               <P>Follow steps</P>
                                    <ul>
                                        <li>Go to Administration => SMS setting => Whatsapp Seeting </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="row mt-md-2 mt-5 p-md-2 p-3 ">
                           <div class="col-12" style="font-size: 20px; line-height: 30px;">
                               <h2 style="color: #ffea00;"> New Updates Date 28-01-2024 </h2>
                               <P>1. Watermark on Bill.</P>
                               <P>Follow steps</P>
                                    <ul>
                                        <li>Go to administration Click on shop => click on edit button => Upload watermark image with only png format => then click on update button => After Software logout and login. </li>
                                    </ul>
                               <P>2. If you want to adjust the watermark on Bill format.</P>
                               <P>Follow steps</P>
                                    <ul>
                                        <li>Go to administration => click on company settings => click on bill format => adjust and save.</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="row mt-md-2 mt-5 p-md-2 p-3 ">
                           <div class="col-12" style="font-size: 20px; line-height: 30px;">
                               <h2 style="color: #ffea00;"> New Updates Date 26-01-2024 </h2>
                               <P>1. Employee profile added with logout button. check in employee login.</P>
                               <P>2. New option added for employees "Discount permission after the bill"</P>
                               <P>Follow few steps</P>
                                    <ul>
                                        <li>Click on the administration on the menu bar </li>
                                        <li>Click on the employee</li>
                                        <li>Click on the edit button</li>
                                        <li>On/off option "Discount permission after the bill</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="row mt-md-2 mt-5 p-md-2 p-3 ">
                           <div class="col-12" style="font-size: 20px; line-height: 30px;">
                               <h2 style="color: #ffea00;"> New Updates Date 17-01-2024 </h2>
                               <P>1. Expenses Report Total Calculation Done.</P>
                               <P>2. Expenses type filter done on expenses Report.</P>
                               <P>3. Date auto fill on the expenses page.</P>
                               <P>4. Reminder pop up correct.</P>
                            </div>
                        </div>
                        <div class="row mt-md-2 mt-5 p-md-2 p-3 ">
                           <div class="col-12" style="font-size: 20px; line-height: 30px;">
                                <h2 style="color: #ffea00;">Updates Date 12-01-2024 </h2>
                               <P>1. Add the WhatsApp button on the billing page for the final delivery message.</P>
                               <P>2. Add the WhatsApp button on the sale Report page to send a message to the customer " your balance amount due please clear today"</P>
                               <P>Follow few steps</P>
                                    <ul>
                                        <li>Click on the Report option on the menu bar </li>
                                        <li>Click on the sale Report</li>
                                        <li>Select Date Range with filter payment status unpaid option</li>
                                        <li>Click on the search button</li>
                                        <li>There is a whatsapp button</li>
                                        <li>Click and send sms </li>
                                    </ul>
                                <P>3. Report : with all reports there is a Filter option with red colour.  You can print reports with your needs.</P>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- Modal -->



