<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
            <div class="card p-0">
              <div class="header p-2 py-0 pt-1">
                <div class="row">
                  <div class=" col-lg-2 col-md-4 col-8 p-0 ms-3">
                    <h2>Customer Return List <i class="fa fa-file-excel-o" title="ExportAsXLSX" aria-hidden="true" type="button"
                       (click)="exportAsXLSX()" ></i></h2>
                  </div>
                  <div class="col-md-2 col-1 ps-md-0 ps-1">
                    <select class=" form-control"
                      style="width: auto; border-radius: 22px; font-size: 10px !important; border: 2px solid #c3c3c3; box-shadow: inset 2px 2px 10px #adaaaad4;"
                      [(ngModel)]="itemsPerPage" >
                      <option [ngValue]="10">Show 10 Row</option>
                      <option [ngValue]="25">Show 25 Row</option>
                      <option [ngValue]="50">Show 50 Row</option>
                      <option [ngValue]="100">Show 100 Row</option>
                      <option [ngValue]="250">Show 250Row</option>
                      <option [ngValue]="500">Show 500 Row</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-4 mx-md-auto" style="margin-top:0px;">
                    <ngb-pagination style="margin: 0px 0 !important;" [ellipses]="false" ngbPaginationEllipsis
                      [collectionSize]="collectionSize" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage"
                     [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                    </ngb-pagination>
                  </div>
                  <div class="col-md-2 col-4 ms-auto">
                    <div class="input-group">
                      <input placeholder="Search" [(ngModel)]="term" #searching mdbInput type="search" id="form1"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-1 col-1" style="width: 40px;padding: 0;">
                    <button type="button" *ngIf="addPurchaseReturnList" class="bg-none" [routerLink]="['/sale/customerReturn',0]">
                      <mat-icon class="col-white plus_icon me-1"> add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <!-- purchase list start -->
              <div class="body mt-md-2 mt-5 pt-4 pt-md-0 p-2">
                <div class="row" >
                  <div class="col-sm-12" style="overflow: auto; height: 530px;">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover table-sm table-bordered"
                        style="border: 2px solid #fff !important;">
                        <thead>
                          <tr>
                            <th>Action</th>
                            <th>S.No</th>
                            <th>CustomerName</th>
                            <!-- <th>SystemCn</th> -->
                            <th>CustomerCn No.</th>
                            <th>Bill Date</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Subtotal</th>
                            <th>TAXAmount</th>
                            <th>InvoiceAmount</th>
                            <th>ReceivedAt</th>
                            <th>CreatedBy</th>
                            <th>UpdatedBy</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="text-center" *ngFor="let data of dataList let i = index;"
                          style="white-space: nowrap;">
                          <td style="width: 5%;" >
                            <!-- <button type="button" *ngIf="editPurchaseReturnList" class="detail_icons bg-btn" (click)="openModal(content,data)" >
                              <i class="fas fa-info-circle" data-mdb-toggle="modal" data-mdb-target="#exampleModal"> </i>
                            </button> -->
                            <button type="button" *ngIf="editPurchaseReturnList" class="bg-btn" [routerLink]="['/sale/customerReturn',data.ID]">
                              <mat-icon class="edit_icon ms-1">edit
                              </mat-icon>
                            </button>
                            <button type="button" *ngIf="deletePurchaseReturnList" class="bg-btn" (click)="deleteItem(i)">
                              <mat-icon class="delete_icon ms-1">delete_forever</mat-icon>
                            </button>
                          </td>
                          <td>{{dataList.length - i }}</td>
                          <td>{{data.CustomerName}}</td>
                          <!-- <td>{{data.SystemCn}}</td> -->
                          <td>{{data.CustomerCn}}</td>
                          <td>{{dateFormat(data.BillDate)}}</td>
                          <td>{{data.Quantity}}</td>
                          <td>{{data.DiscountAmount | currency:companySetting.CompanyCurrency:'symbol':companySetting.CurrencyFormat}}</td>
                          <td>{{data.SubTotal | currency:companySetting.CompanyCurrency:'symbol':companySetting.CurrencyFormat}}</td>
                          <td>{{data.GSTAmount | currency:companySetting.CompanyCurrency:'symbol':companySetting.CurrencyFormat}}</td>
                          <td>{{data.TotalAmount | currency:companySetting.CompanyCurrency:'symbol':companySetting.CurrencyFormat}}</td>
                          <td>{{data.ShopName}}<span [style.color]="'blue'"
                            *ngIf="data.AreaName !== 'null'">({{data.AreaName}})</span></td>
                          <td>{{data.CreatedPerson}}</td>
                          <td>{{data.UpdatedPerson}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- purchase list end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header" style="height: 50px; border-bottom: #ff651e 3px solid;">
    <h2 class="modal-title header pt-2" id="exampleModalLabel">Customer CN No</h2>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-0">
    <form #f="ngForm">
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 mb-0 mx-auto">
            <mat-form-field class="example-full-width mb-0">
              <mat-label>CustomerCNNo</mat-label>
              <input  matInput name="CustomerCNNo" [(ngModel)]="CustomerCNNo" required >
              <mat-error>
                CustomerCNNo is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-8  col-sm-12 mb-0  mx-auto">
            <mat-form-field class="example-full-width mb-0">
                <mat-label> CN Date </mat-label>
                <input matInput type="date" name="BillDate" [(ngModel)]="BillDate"
                required  >
            </mat-form-field>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button color="primary" [disabled]="!f.valid"
         (click)="supplierCnPR()" >Update</button>
      </div>
    </form>
  </div>
</ng-template>
