table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.448);
}
table th {
  background-color: rgb(239, 239, 239);
}

th, td {
  padding: 8px;
  text-align: left;
}


.customer-option {
    white-space: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 20px;
    height: auto;
    padding: 0px 7px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    font-size: 12px;
    font-weight: 600;
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
    background: rgb(30 38 114);
    color: white;
}