<section class="content">
    <div class="container-fluid">
        <div class="block-header"> </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-lg-2 col-8">
                                <h2>Product Detail</h2>
                            </div>
                            <!-- togggle btn start -->
                            <div class="col-xl-1 col-lg-1 col-md-2 col-4 ms-auto p-0">
                                <span style="font-weight: 600;">
                                    <mat-slide-toggle name="Multiple" color="primary" [(ngModel)]="disableAddButtons"
                                        class="example-margin" #Multiplecontrol>Quick Entry</mat-slide-toggle>
                                </span>
                                <span style="font-weight: 600;">
                                    <!-- <button name="Multiple" color="primary" (click)="openModal(content)"
                                        class="example-margin" #Multiplecontrol>Img</button> -->
                                </span>

                            </div>
                            <!-- togggle btn end -->
                        </div>
                    </div>
                    <div class="body">
                        <!-- save purchase start -->
                        <form #f="ngForm" autocomplete="off" >
                            <div class="row">
                                <div class="col-2">
                                    <!-- save purchase start -->
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-2 col-md-6 col-12 mb-0"
                                            *ngIf="category !== 'Charges'">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Product</mat-label>
                                                <mat-select name="FieldType" [(ngModel)]="selectedProduct"
                                                    (selectionChange)="getFieldList()" required #Typecontrol>
                                                    <mat-option>
                                                        <ngx-mat-select-search matInput [(ngModel)]="searchValue"
                                                            (ngModelChange)="searchValue = onChange($event)"
                                                            [ngModelOptions]="{standalone: true}">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let prod of prodList  let i = index;"
                                                        [value]="prod.Name">
                                                        {{prod.Name | uppercase}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    Select Product Type
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <!-- save product spec start -->
                                    <div class="row" *ngIf="category !== 'Charges'" style="display: block;">
                                        <div class="col-xl-12 col-lg-2 col-md-4 col-6 mb-0"
                                            *ngFor="let spec of specList ; let i = index;">
                                            <div *ngIf="spec.FieldType === 'DropDown'" class="d-flex">
                                                <mat-form-field class=" me-2 mb-0" *ngIf="spec.DisplayAdd === 0">
                                                    <mat-label>{{spec.FieldName}}</mat-label>
                                                    <mat-select name="{{spec.FieldName+'0'}}"
                                                        [(ngModel)]="spec.SelectedValue"
                                                        (selectionChange)="getFieldSupportData(i)" editable="true"
                                                        [required]="spec.Required === 1" #singleSelect>
                                                        <mat-option>
                                                            <ngx-mat-select-search matInput
                                                                [(ngModel)]="spec.EnteredValue"
                                                                (ngModelChange)="spec.EnteredValue = onChange($event)"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option *ngFor="let val of spec.SptFilterData  "
                                                            [value]="val.TableValue1">
                                                            {{val.TableValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error>
                                                        {{spec.FieldName}} is Required
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-checkbox class="pt-3" name="{{spec.FieldName+'0'}}" color="primary"
                                                    [(ngModel)]="spec.CheckBoxValue"></mat-checkbox>

                                                <mat-form-field class="mr-0 mb-0" *ngIf="spec.DisplayAdd === 1">
                                                    <mat-label>Add {{spec.FieldName}}</mat-label>
                                                    <input matInput name="{{spec.FieldName+'1'}}"
                                                        [(ngModel)]="spec.SelectedValue"
                                                        (ngModelChange)="spec.SelectedValue = onChange($event)" required
                                                        #NewProductTypecontrol>
                                                </mat-form-field>
                                                <button style="background: none;border:none"
                                                    *ngIf="spec.DisplayAdd === 0 && disableAddButtons"
                                                    (click)="displayAddField(i)">
                                                    <mat-icon class="col-white plus_icon">add</mat-icon>
                                                </button>
                                                <button mat-mini-fab color="primary" *ngIf="spec.DisplayAdd === 1"
                                                    (click)="saveFieldData(i)"
                                                    aria-label="Example icon button with a bookmark icon">
                                                    <mat-icon>save</mat-icon>
                                                </button>
                                            </div>
                                            <div *ngIf="spec.FieldType === 'Text'" class="d-flex">
                                                <mat-form-field class=" mr-0 mb-0">
                                                    <mat-label>{{spec.FieldName}}</mat-label>
                                                    <input matInput name="{{spec.FieldName+'2'}}"
                                                        [(ngModel)]="spec.SelectedValue"
                                                        (ngModelChange)="spec.SelectedValue = onChange($event)"
                                                        [required]="spec.Required === 1">
                                                    <mat-error>
                                                        {{spec.FieldName}} is Required
                                                    </mat-error>
                                                </mat-form-field>

                                                <mat-checkbox type="checkbox" class="pt-3" name="{{spec.FieldName+'2'}}"
                                                    color="primary" [(ngModel)]="spec.CheckBoxValue"></mat-checkbox>
                                            </div>
                                            <div *ngIf="spec.FieldType === 'Date'" class="d-flex">
                                                <mat-form-field class=" mr-0 mb-0">
                                                    <mat-label>{{spec.FieldName}}</mat-label>
                                                    <input type="date" matInput name="{{spec.FieldName+'3'}}"
                                                        [(ngModel)]="spec.SelectedValue"
                                                        (ngModelChange)="spec.SelectedValue = onChange($event)"
                                                        editable="true" [required]="spec.Required === 1">
                                                    <mat-error>
                                                        {{spec.FieldName}} is Required
                                                    </mat-error>
                                                </mat-form-field>

                                                <mat-checkbox class="pt-3" name="{{spec.FieldName+'2'}}" color="primary"
                                                    [(ngModel)]="spec.CheckBoxValue"></mat-checkbox>
                                            </div>
                                            <div *ngIf="spec.FieldType === 'boolean'" class="d-flex">
                                                <mat-slide-toggle name="{{spec.FieldName+'3'}}" color="primary"
                                                    class="example-margin" #Multiplecontrolx
                                                    [(ngModel)]="spec.SelectedValue">
                                                    {{spec.FieldName}}</mat-slide-toggle>

                                                <mat-checkbox class="pt-3" name="{{spec.FieldName+'3'}}" color="primary"
                                                    [(ngModel)]="spec.CheckBoxValue" [required]="spec.Required === 1">
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- save product spec end -->
                                    <!-- save calculation product start -->
                                    <div class="row" *ngIf="category !== 'Charges' " style="display: block;">
                                        <div class="col-xl-12 col-lg-2 col-md-4 col-6 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Description </mat-label>
                                                <input matInput name="Description" type="text" 
                                                    [(ngModel)]="item.Description"  #Descriptioncontrol
                                                    [autocomplete]="false" required>
                                                <mat-error>
                                                    Description is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-12 col-lg-2 col-md-4 col-6 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>Gender</mat-label>
                                                    <mat-select name="Gender" [(ngModel)]="item.Gender" required>
                                                        <mat-option value="Male">Male</mat-option>
                                                        <mat-option value="Female">Female</mat-option>
                                                        <mat-option value="Kids">Kids</mat-option>
                                                        <mat-option value="Unisex">Unisex</mat-option>
                                                    </mat-select>
                                                    <mat-error>
                                                    Gender is required
                                                </mat-error>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-xl-12 col-lg-2 col-md-4 col-6 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Sale Rate </mat-label>
                                                <input matInput name="SalePrice" type="number" min="0"
                                                    [(ngModel)]="item.SalePrice" required #SalePricecontrol
                                                    [autocomplete]="false">
                                                <mat-error>
                                                    Unit Price is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-12 col-lg-2 col-md-4 col-6 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>offer Rate </mat-label>
                                                <input matInput name="OfferPrice" type="number" min="0"
                                                    [(ngModel)]="item.OfferPrice" required #OfferPricecontrol
                                                    [autocomplete]="false">
                                                <mat-error>
                                                    Unit Price is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-12 col-lg-2 col-md-4 col-6 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Quantity</mat-label>
                                                <input matInput name="Quantity" type="number" min="0"
                                                    [(ngModel)]="item.Quantity" required disabled #Quantitycontrol
                                                    [autocomplete]="false">
                                                <mat-error>
                                                    Quantity is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                      
                                        <div class="col-xl-1 col-lg-1 col-md-2 col-4 mb-0 ml-auto">
                                            <button *ngIf="editBtn === false" class="mr-3" type="button"
                                                mat-raised-button color="primary" (click)="addItem()"
                                                [disabled]="!f.valid || this.GstTypeDis" mat-raised-button
                                                color="primary"><span class="first-letter">S</span>ave</button>
                                            <button *ngIf="editBtn === true" class="mr-3" type="button"
                                                [disabled]="item.Quantity == 0" mat-raised-button color="primary"
                                                (click)="editUpdate()">Update</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 ms-auto">
                                    <div class="row">
                                        <div class="col-sm-12 p-0"
                                            style="overflow-y: auto; height: 450px;box-shadow: 1px 0px 2px 4px rgba(221, 221, 221, 0.338);">
                                            <table class="table table-striped table-hover table-sm table-bordered"
                                                style="border: 2px solid #fff !important;">
                                                <thead>
                                                    <tr style="white-space: nowrap;">
                                                        <th>Action</th>
                                                        <th>Product</th>
                                                        <th>Description</th>
                                                        <th>Gender</th>
                                                        <th>Quantity</th>
                                                        <th>SalePrice</th>
                                                        <th>OfferPrice</th>
                                                        <th>IsOutOfStock</th>
                                                        <th>IsPublished</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of itemList ; let i = index;">
                                                       
                                                        <td class="text-left" style="white-space: nowrap;">
                                                            <button *ngIf="data.Status === 1" type="button" class="bg_none" (click)="deleteItem('Product',data)">
                                                                <mat-icon class="delete_icons ms-1">delete_forever</mat-icon>
                                                            </button>
                                                            <button *ngIf="data.Status === 1" type="button" class="bg_none" (click)="edititem('Product',data)">
                                                                <mat-icon class="edit_icons ms-1">edit </mat-icon>
                                                            </button>
                                                            <button class="button-bgm ms-1" *ngIf="data.Status === 1 && data.IsPublished === 0" type="button"  (click)="published(data,'Published')">Publish 
                                                            </button>
                                                            <button class="button-bgm ms-1" *ngIf="data.Status === 1 && data.IsPublished === 1" type="button"  (click)="published(data,'Unpublished')">Unpublish
                                                            </button>
                                                            <button class="button-bgm ms-1" *ngIf="data.Status === 1 && data.IsOutOfStock === 1" type="button"  (click)="OutOfStock(data,'OutOfStock')">OutOfStock 
                                                            </button>
                                                            <button class="button-bgm ms-1" *ngIf="data.Status === 1 && data.IsOutOfStock === 0" type="button"  (click)="OutOfStock(data,'Stock')"> InStock 
                                                            </button>
                                                        </td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}" >{{data.ProductTypeName}} {{data.ProductName}}</td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}"> {{data.Description}}</td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}"> {{data.Gender}}</td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}"> {{data.Quantity}}</td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}"> {{data.SalePrice}}</td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}"> {{data.OfferPrice}}</td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}"> {{data.IsOutOfStock}}</td>
                                                        <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0}"> {{data.IsPublished}}</td>
                                                        

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row ">
                                <div class="col-md-1 text-center m-4" *ngFor="let data of item.Images; let i = index;"
                                    style="display: flex; flex-direction: column-reverse;  flex-wrap: wrap; align-content: center;"
                                    (click)="fileInput.click()">
                                    <i class="fa-solid fa-cloud-arrow-up upload_icon" style="cursor: pointer;">
                                        <span style="font-size: 10px;letter-spacing: 2px; "> Upload </span>
                                    </i>
                                    <input #fileInput id="my-input" class="mt-4" type="file"
                                        [(ngModel)]="data.ImageName" #name="ngModel" name="data{{i}}"
                                        (change)="uploadImage1($event, i)" style="display:none;" [required]="i === 0">

                                    <img class="fit-picture" width="170" height="150" [src]="data.ImageName"
                                        style="aspect-ratio: 2/1; object-fit: contain;">
                                </div>
                                
                            </div>
                            <!-- save calculation product end -->
                        </form>
                        <!-- save purchase end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- payment -->
<ng-template #content role="document" let-modal>
    <div class="modal-header" style="height: 50px; border-bottom: #ff651e 3px solid;">
        <h3 class="modal-title header pt-2 pb-2" id="exampleModalLabel" style="font-weight: bolder;">Product Image
            Upload
            <button (click)="add()" mat-mini-fab class="ms-3 me-3 btn" color="primary"><i
                    class="fa fa-plus"></i></button>
        </h3>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form #f3="ngForm">
            <div class="row mb-3" style="margin: 0;">
                <div class="col-sm-12">

                    <!-- <button (click)="download(imgArray);" mat-mini-fab class="ml-2 btn" color="primary"> <i
                                        class="fa fa-download" style="cursor: pointer;"></i>
                                </button> -->
                    <div class="row mt-3">
                        <div class="col-md-1 text-center m-2" *ngFor="let data of item.imgArray; let i = index;"
                            style="display: flex; flex-direction: column-reverse; border: 2px solid #d3d3d3; flex-wrap: wrap; align-content: center;"
                            (click)="fileInput.click()">
                            <i class="fa-solid fa-cloud-arrow-up upload_icon" style="cursor: pointer;">
                                <span style="font-size: 10px;letter-spacing: 2px; "> Upload </span>
                            </i>
                            <input #fileInput id="my-input" class="mt-4" type="file" [(ngModel)]="data.ImageName"
                                #name="ngModel" name="data{{i}}" (change)="uploadImage1($event, i)"
                                style="display:none;">

                            <img class="fit-picture" width="170" height="150" [src]="data.ImageName"
                                style="aspect-ratio: 2/1; object-fit: contain;">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</ng-template>