<section class="content">
    <div class="container-fluid">
        <div class="block-header"></div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Shop Details
                            <!-- <mat-slide-toggle name="Multiple" color="primary" [(ngModel)]="dispalyAllFields" class="example-margin" #Multiplecontrol>Show All Fields</mat-slide-toggle> -->
                        </h2>
                    </div>
                    <div class="body">
                        <form autocomplete="off" #f="ngForm" (ngSubmit)="onsubmit()">
                            <!-- shop form filed -->
                            <div class="row">
                                <div class="col-md-10 col-11">
                                    <div class="row">
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Shop Name</mat-label>
                                                <input matInput name="Name" [(ngModel)]="data.Name" required
                                                    #Namecontrol minlength="2" appAutoFoucsDirectives>
                                                <mat-error *ngIf="Namecontrol.required">
                                                    Shop Name is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Area Name</mat-label>
                                                <input matInput name="AreaName" [(ngModel)]="data.AreaName"
                                                    #AreaNamecontrol>
                                                <mat-error>
                                                    Area Name is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0 pt-md-3 ps-md-5 ">
                                            <mat-slide-toggle name="Checked" class="example-margin "
                                                [checked]="toggleChecked" color="primary" (change)="copyData($event.checked)" [disabled]="false" #CompanyIDcontrol>
                                                Copy Data From Company
                                            </mat-slide-toggle>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Mobile No1</mat-label>
                                                <input matInput name="MobileNo1" type="number"
                                                    [(ngModel)]="data.MobileNo1" required #MobileNo1control>
                                                <mat-error>
                                                    MobileNo1 is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Mobile No2</mat-label>
                                                <input matInput name="MobileNo2" type="number"
                                                    [(ngModel)]="data.MobileNo2" #MobileNo2control>
                                                <mat-error>
                                                    MobileNo2 is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Phone No</mat-label>
                                                <input matInput name="PhoneNo" type="number" [(ngModel)]="data.PhoneNo"
                                                    #PhoneNocontrol>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Address</mat-label>
                                                <input matInput name="Address" [(ngModel)]="data.Address" minlength="2"
                                                    required #Addresscontrol>
                                                <mat-error *ngIf="Addresscontrol.required">
                                                    Atleast 2 characters is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Email</mat-label>
                                                <input matInput name="email" type="email" ngModel [email]="true"
                                                    pattern="[a-zA-Z0-9.-_]{3,}@[a-zA-Z.-]{3,}[.]{1}[a-zA-Z]{3,}"
                                                    [(ngModel)]="data.Email" #Emailcontrol>
                                                <mat-error>
                                                    Invalid EmailId.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Website</mat-label>
                                                <input matInput name="Website" [(ngModel)]="data.Website"
                                                    #Websitecontrol>
                                                <mat-error *ngIf="Websitecontrol.required">
                                                    Website is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>GST No</mat-label>
                                                <input matInput name="GSTNo" [(ngModel)]="data.GSTNo" #GSTNocontrol>
                                                <mat-error *ngIf="GSTNocontrol.required">
                                                    GST No is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>CIN No</mat-label>
                                                <input matInput name="CINNo" [(ngModel)]="data.CINNo" #CINNocontrol>
                                                <mat-error *ngIf="CINNocontrol.required">
                                                    CIN is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Shop Timing</mat-label>
                                                <input matInput name="Timing" [(ngModel)]="data.ShopTiming" required
                                                    #TimingNocontrol>
                                                <mat-error *ngIf="TimingNocontrol.required">
                                                    Shop Open Timing is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3 mb-0">
                                            <mat-form-field class="example-full-width mb-0">
                                                <mat-label>Barcode ShopName</mat-label>
                                                <input matInput name="BarcodeName" min="0" max="15"
                                                    [(ngModel)]="data.BarcodeName" #BarcodeNamecontrol>
                                                <mat-error *ngIf="BarcodeNamecontrol.required">
                                                    BarcodeName is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-11 ps-md-5">
                                    <div class="row">
                                        <div class="col-12 mt-1 " >
                                            <img class="fit-picture" width="170" height="170" [src]="companyImage">
                                        </div>
                                        <div class="col-xl-10 col-lg-10 col-md-10 col-11 mb-0 " (click)="fileInput.click()" style="cursor: pointer;">
                                            <i class="fa-solid fa-cloud-arrow-up upload_icon" >
                                                <span style="font-size: 10px;letter-spacing: 2px;"> Company Image </span>
                                            </i>
                                            <input  #fileInput id="my-input" name='LogoURL' type="file" [(ngModel)]="data.LogoURL" (change)="uploadImage($event, 'company')" style="display:none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <!-- Bill Fromat Options -->
                            <h2 class="header">Bill Format Hide/Show</h2>
                            <div class="row">
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="HSNCode" color="primary" [(ngModel)]="data.HSNCode" class="example-margin">HSN</mat-slide-toggle>
                                </div>
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="CustGSTNo" color="primary" [(ngModel)]="data.CustGSTNo"  class="example-margin"> GST No. </mat-slide-toggle>
                                </div>
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="Rate" color="primary" [(ngModel)]="data.Rate"  class="example-margin">Rate</mat-slide-toggle>
                                </div>
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="Discounts" color="primary" [(ngModel)]="data.Discounts" class="example-margin">Discount </mat-slide-toggle>
                                </div>
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="SubTotal" color="primary" [(ngModel)]="data.SubTotal"  class="example-margin">SubTotal </mat-slide-toggle>
                                </div>
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="Tax" color="primary" [(ngModel)]="data.Tax" class="example-margin">Tax</mat-slide-toggle>
                                </div>
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="Total" color="primary" [(ngModel)]="data.Total" class="example-margin">Total</mat-slide-toggle>
                                </div>
                            </div>
                            <!-- Software Bill Options Hide/Show -->
                            <h2 class="header mt-4">Software Bill Hide/Show</h2>
                            <div class="row">
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="Discount" color="primary" class="example-margin" [(ngModel)]="data.Discount" class="example-margin">Discount </mat-slide-toggle>
                                </div>
                                <div class="col-md-1 col-sm-6 col-6">
                                    <mat-slide-toggle name="GSTnumber" color="primary" [(ngModel)]="data.GSTnumber" class="example-margin">GST</mat-slide-toggle>
                                </div>
                            </div>
                             <!-- Save/Cancel -->
                            <div class="row my-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">

                                    <button class="me-3" type="button" mat-raised-button color="primary"  [disabled]="id == 0 || !f.valid" *ngIf=" id != 0"   (click)="updateShop()"  >Update</button>
                                    <button type="submit" class="me-3" mat-raised-button color="primary" [disabled]="!f.valid" *ngIf="id == 0">Save</button>
                                    <button type="button" mat-raised-button [routerLink]="['/admin/shopList']">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<div class="body">
    <form autocomplete="off" [formGroup]="reactiveForm" #f="ngForm" (ngSubmit)="onSubmit()">

        <div class="col-md-3 mb-0">
            <mat-form-field class="example-full-width mb-0">
                <mat-label>Shop Name</mat-label>
                <input matInput name="Name" [(ngModel)]="data.Name" formControlName="Name" >
                <mat-error >
                    Atleast 3 characters is required 
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row my-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                <button type="submit" class="me-3" mat-raised-button color="primary"
                    [disabled]="!reactiveForm.valid">Save</button>
                <button type="button" mat-raised-button
                    [routerLink]="['/admin/shopList']">Cancel</button>
            </div>
        </div>
    </form>
</div> -->