<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row"></div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Add Manager</h2>
                        <ul class="header-dropdown m-r--5"> </ul>
                    </div>
                    <div class="body">
                        <form #f="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-2 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Product</mat-label>
                                        <mat-select name="FieldType" [(ngModel)]="selectedProduct"
                                            (selectionChange)="getfieldList()" required #Typecontrol
                                            appAutoFoucsDirectives>
                                            <mat-option *ngFor="let type of productType let i = index; "
                                                [value]="type.value">
                                                {{type.Name | uppercase}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Select Product Type
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="showFeild">
                                <div *ngIf="!showAdd" class="col-xl-2 col-lg-3 col-md-6 col-8 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Category</mat-label>
                                        <mat-select name="Field Type" [(ngModel)]="data1.Category" required
                                            #Typecontrol>
                                            <mat-option *ngFor="let prod of depList   let i = index; "
                                                [value]="prod.Name">
                                                {{prod.Name | uppercase}}
                                            </mat-option>
                                        </mat-select>
                                        <!-- <mat-error>
                                            Select Category Type
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div *ngIf="!showAdd" class="col-xl-1 col-lg-1 col-md-1 col-2 mb-0">
                                    <button mat-mini-fab color="primary" (click)="showAdd = !showAdd"
                                        aria-label="Example icon button with a bookmark icon">
                                        <mat-icon>add</mat-icon>
                                    </button>
                               
                                    <button class="ms-2" [disabled]="data1.Category === null" mat-mini-fab color="warn" *ngIf="showAdd === false"
                                        (click)="delSupport()" aria-label="Example icon button with a bookmark icon">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="showAdd" class="col-xl-2 col-lg-3 col-md-6 col-8 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Add Type</mat-label>
                                        <input matInput name="NewDepartment" [(ngModel)]="newDepartment.Name" required
                                            #NewDepartmentTypecontrol>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="showAdd" class="col-xl-1 col-lg-1 col-md-1 col-4 mb-0">
                                    <button  mat-mini-fab color="primary" (click)="showAdd = !showAdd; saveDepartment()"
                                        aria-label="Example icon button with a bookmark icon">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>