<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
            <div class="card p-0">
              <div class="header p-2 py-0 pt-1">
                <div class="row mb-5">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-12 p-0 ms-md-3 ms-2 m-0 h3">
                   Old Bill For <b style="color: #000;">{{this.CustomerData.Name}}</b> 
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-3 col-5 m-0 p-0 ms-md-3 ms-2 h3">
                    SystemID - <b style="color: #000;">{{this.CustomerData.SystemID}}</b> 
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-3 col-6 m-0 p-0 ms-md-3 ms-2 h3">
                    MobileNo. - <b style="color: #000;">{{this.CustomerData.MobileNo1}}</b> 
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-8 col-12 m-0 p-0 ms-md-3 ms-2 h3">
                    Shop Name - <b style="color: #000;">{{this.CustomerData.ShopName}} ({{this.CustomerData.AreaName}})</b> 
                  </div>
                  <div class="col-xl-1 col-lg-1 col-md-4 col-6 m-0 p-0 ms-md-3 ms-2 h3">
                    Total - <b style="color: #000;">{{this.totalGrandTotal}}</b> 
                  </div>
                </div>
              </div>

              <!-- doctor list start -->
              <div class="body mt-5 mt-md-2 pt-5 pt-lg-0 p-2">
                <div class="row mb-3"  *ngFor="let data of BillMatser let i = index;">
                  <div class="col-sm-12" style="overflow: auto; height: 150px; ">
                    <div class="table-responsive" style="box-shadow: inset 0px 0px 10px #00000078;">
                      <table class=" table-striped table-hover table-sm table-bordered"
                        style="border: 2px solid #fff !important; margin: 0;width: 100%;">
                        <thead>
                            <tr class="text-center" style="background: #c7c7c7a3;">
                                <th >SNo.</th>
                                <th >Bill No.</th>
                                <th >ProductDescription</th>
                                <th >UnitPrice</th>
                                <th >Qty</th>
                                <th >Dis%</th>
                                <th >Dis Amt</th>
                                <th >SubTotal</th>
                                <th >GST%</th>
                                <th >GSTAmt</th>
                                <th >Total</th>
                              </tr>
                            <tr class="text-center" *ngFor="let datas of data.billDetail let i = index;">
                                <td >{{i+1}}</td>
                                <td >{{datas.BillNo}}</td>
                                <td >{{datas.ProductDescription }}</td>
                                <td >{{datas.UnitPrice}}</td>
                                <td >{{datas.Qty}}</td>
                                <td >{{datas.DiscountPercentage}} </td>
                                <td >{{datas.Discount}} </td>
                                <td >{{datas.SubTotal}} </td>
                                <td >{{datas.GSTPercentage}} </td>
                                <td >{{datas.GST}} </td>
                                <td >{{datas.Amount}} </td>
                            </tr>
                          <tr class="text-center" style="border-top: 2px solid red;color: red;">
                            <th >BillDate</th>
                            <th >DeliveryDate</th>
                            <th >Qty</th>
                            <th >SubTotal</th>
                            <th >GST%</th>
                            <th >GSTAmt</th>
                            <th >Additional Dis%</th>
                            <th >Additional DisAmt</th>
                            <th >GrandTotal</th>
                            <th >Paid</th>
                            <th >Balance</th>
                          </tr>
                          <tr class="text-center"  style="white-space: nowrap; border-bottom: 1px solid red;">
                          <td >{{data.BillDate}}</td>
                          <td >{{data.DeliveryDate}}</td>
                          <td >{{data.Qty}}</td>
                          <td >{{data.SubTotal}} </td>
                          <td >{{data.GSTPercentage}} </td>
                          <td >{{data.GST}} </td>
                          <td >{{data.AdditionalDiscountPercentage}} </td>
                          <td >{{data.AdditionalDiscount}} </td>
                          <td >{{data.GrandTotal}} </td>
                          <td >{{data.Paid}} </td>
                          <td >{{data.Balance}} </td>
                        </tr>
                       
                        </thead>
                     
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- doctor list end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>