extends layout

block content
 .container
    .row.bg-grey.pt-5
      .col
        .jumbotron.text-center.myback
          h1.text-white.text-center.mytext.text-white WELCOME TO EXPRESS
          p.text-center.text-white.developed Designed And Developed By Er Rahul Gothi
          button.btn.btn-outline(type="button" data-toggle="collapse" data-target="#myju") Click to see
    #myju.collapse
      .row
        .col
          .jumbotron.myback
            h1.text-white.text-center.mytext.text-white Connect To Your Angular Application
            p.text-center.text-white.developed Angular App..!!
