<html>
<link rel="stylesheet" href="http://localhost:3000/assest/customerPower.css">

<body>
 <h1>
    <%- include('./header.ejs', {pageNumber: 1}) %>
    <!-- <%=data.customer.Name%> -->
 </h1>
   
</body>

</html>