.totolRow{
    color: rgb(220, 220, 220); 
    font-weight: 600; 
    font-size: 15px;
    text-align: center;
}

.excel {
    color: #458f37 !important;
    font-size: 22px !important;
    transition: 0.5s !important;
    height: 0px !important;
    width: 0px !important;
    cursor: pointer !important;
}


.paddingInp{
        padding: 0.4em 0 !important;
}

.bg_none {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;


}
tfoot.hide-on-print{
  display: none;
}
@media print {
    .content {
      page-break-before: always; /* Optional: Add page break before each content when printing */
    }
  
    .print-logo {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; /* Center the logo on the printed page */
    }
  
  
    /* Add other print styles as needed */
  }