<section class="content">
    <div class="container-fluid">
        <div class="block-header"></div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card " style="padding-left: 15px;">
                    <div class="header">
                        <h2>Company Hide Option</h2>
                    </div>
                    <div class="body">
                        <form #f="ngForm" (ngSubmit)="onsubmit()">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Company Name</mat-label>
                                        <mat-select name="CompanyID" [(ngModel)]="data.CompanyID" required
                                            #CompanyIDcontrol (selectionChange)="getCompanySettingByCompanyID()">
                                            <mat-option>
                                                <ngx-mat-select-search matInput [(ngModel)]="searchValue"  [ngModelOptions]="{standalone: true}">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option [value]="sup.ID" *ngFor="let sup of dropComlist | companyName: searchValue  let i = index;" style="color: #000;">
                                                {{sup.Name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Select Valid CompanyID
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                </div>
                                <div class="row">

                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="OrderPriceList" color="primary"
                                        [(ngModel)]="data.OrderPriceList" class="example-margin" #OrderPricelistcontrol >
                                        Order Pricelist
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="SearchOrderPriceList" color="primary"
                                        [(ngModel)]="data.SearchOrderPriceList" class="example-margin" #SearchOrderPricelistcontrol >
                                        Search Order Pricelist
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="LensGridView" color="primary"
                                        [(ngModel)]="data.LensGridView" class="example-margin" #LensGridViewcontrol >
                                        Lens Grid View
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="CustomerWithPower" color="primary"
                                        [(ngModel)]="data.CustomerWithPower" class="example-margin" #CustomerWithPowercontrol >
                                        Customer With Power
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="Doctor" color="primary"
                                        [(ngModel)]="data.Doctor" class="example-margin" #Doctorcontrol >
                                        Doctor
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0"></div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="LensOrderModule" color="primary"
                                        [(ngModel)]="data.LensOrderModule" class="example-margin" #LensOrderModulecontrol >
                                        LensOrderModule
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="FitterOrderModule" color="primary"
                                        [(ngModel)]="data.FitterOrderModule" class="example-margin" #FitterOrderModulecontrol >
                                        FitterOrderModule
                                    </mat-slide-toggle>
                                </div>
                            
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="DoctorLedgerReport" color="primary"
                                        [(ngModel)]="data.DoctorLedgerReport" class="example-margin" #DoctorLedgerReportcontrol >
                                        DoctorLedgerReport
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="FitterLedgerReport" color="primary"
                                        [(ngModel)]="data.FitterLedgerReport" class="example-margin" #FitterLedgerReportcontrol >
                                        FitterLedgerReport
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="EyeTestReport" color="primary"
                                        [(ngModel)]="data.EyeTestReport" class="example-margin" #EyeTestReportcontrol >
                                        EyeTestReport
                                    </mat-slide-toggle>
                                </div>

                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="IsBirthDayReminder" color="primary"
                                        [(ngModel)]="data.IsBirthDayReminder" class="example-margin" #IsBirthDayRemindercontrol >
                                        BirthDay Reminder
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="AnniversaryReminder" color="primary"
                                        [(ngModel)]="data.IsAnniversaryReminder" class="example-margin" #IsAnniversaryRemindercontrol >
                                        Anniversary Reminder
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="CustomerOrderPendingReminder" color="primary"
                                        [(ngModel)]="data.IsCustomerOrderPendingReminder" class="example-margin" #IsCustomerOrderPendingRemindercontrol >
                                        CustomerOrderPending Reminder
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="EyeTesingReminder" color="primary"
                                        [(ngModel)]="data.IsEyeTesingReminder" class="example-margin" #IsEyeTesingRemindercontrol >
                                        EyeTesing Reminder
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="SolutionExpiryReminder" color="primary"
                                        [(ngModel)]="data.IsSolutionExpiryReminder" class="example-margin" #IsSolutionExpiryRemindercontrol >
                                        SolutionExpiry Reminder
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="ContactLensExpiryReminder" color="primary"
                                        [(ngModel)]="data.IsContactLensExpiryReminder" class="example-margin" #IsContactLensExpiryRemindercontrol >
                                        ContactLensExpiry Reminder
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="ComfortFeedBackReminder" color="primary"
                                        [(ngModel)]="data.IsComfortFeedBackReminder" class="example-margin" #IsComfortFeedBackRemindercontrol >
                                        ComfortFeedBack Reminder
                                    </mat-slide-toggle>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                    <mat-slide-toggle type="button" name="ServiceReminder" color="primary"
                                        [(ngModel)]="data.IsServiceReminder" class="example-margin" #IsServiceRemindercontrol >
                                        Service Reminder
                                    </mat-slide-toggle>
                                </div>


                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 p-0 mt-4">
                               
                                    <button class="ms-3 " type="submit" mat-raised-button color="primary" [disabled]="!f.valid">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>