<section class="content">
    <div class="container-fluid">
        <div class="block-header"> </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                <div class="card">
                    <div class="header">
                        <h2>Loyalty Details </h2>
                    </div>
                    <div class="body">
                        <form autocomplete="off" #f="ngForm">
                            <div class="row">
                                <div class="col-xl-2 col-md-2 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Payment Type</mat-label>
                                        <mat-select name="reportType" placeholder="Select Payee Type"
                                            [(ngModel)]="data.PaymentType" (selectionChange)="getPayeeList()" appAutoFoucsDirectives>
                                            <mat-option value="Employee">Employee</mat-option>
                                            <mat-option value="Doctor">Doctor</mat-option>
                                        </mat-select>
                                        <mat-error>supplier is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-md-2 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Payee Name</mat-label>
                                        <mat-select name="PayeeID" [(ngModel)]=" data.PayeeName"  >
                                            <mat-option [value]="s.ID" *ngFor="let s of payeeList">
                                                {{s.Name}} 
                                                <span style="float: right;">{{s.MobileNo1}}</span>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Payee is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-0 ">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Shop Name</mat-label>
                                        <mat-select name="Supplier" editable="true" [(ngModel)]="data.ShopID" (selectionChange)="getCommissionDetail()"
                                            [ngModelOptions]="{standalone: true}" #singleSelect   required>
                                            <mat-option [value]=0>All</mat-option>
                                            <mat-option *ngFor="let sup of shopList  let i = index;" [value]="sup.ID">
                                                {{sup.Name}} <span [style.color]="'blue'"
                                                    *ngIf="sup.AreaName !== 'null'">({{sup.AreaName}})</span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Invoice Date</mat-label>
                                        <input matInput name="InvoiceDate" type="date" [(ngModel)]="data.PurchaseDate"
                                            [ngModelOptions]="{standalone: true}" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-md-2 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Invoice No.</mat-label>
                                        <input matInput name="InvoiceNo" [(ngModel)]="data.InvoiceNo"
                                            #NamePaycontrol [autocomplete]="false" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    <div>
                        <form  #f2="ngForm"  (ngSubmit)="onSubmit()">
                        <div class="body ">
                          <div class="row">
                            <div class="col-sm-12" style="overflow: auto; height: 450px;">
                                <table class="table table-striped table-hover table-sm table-bordered"
                                    style="border: 2px solid #fff !important;" id="ProductTransferExcel">
                                    <thead>
                                        <tr style="white-space: nowrap;">
                                            <th>
                                                <mat-checkbox class="example-margin" color="primary"  (click)="multicheck()"></mat-checkbox>
                                            </th>
                                            <th>CustomerName </th>
                                            <th>MobileNo </th>
                                            <th>Invoice No</th>
                                            <th>Bill Date</th>
                                            <th>Bill Amount</th>
                                            <th>Payment Status</th>
                                            <th>Commission Amount</th>
                                            <th>Sales Person</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr class="text-center" *ngFor="let item of dataList ; let i = index;">
                                            <td>
                                                <input (click)="validate(item, $event)" type="checkbox" class="example-margin" id="{{item.ID}}"
                                                [(ngModel)]="item.checked" color="primary" [checked]="item.Sel"
                                                 name="feature{{item.ID}}"
                                                value="{{item.Sel}}" style="width: 25px;
                                                height: 17px; ">

                                            </td>
                                            <td>{{item.CustomerName}}</td>
                                            <td>{{item.MobileNo}}</td>
                                            <td>{{item.InvoiceNo}}</td>
                                            <td>{{item.BillDate}}</td>
                                            <td>{{item.BillAmount}}</td>
                                            <td>{{item.PaymentStatus}}</td>
                                            <td>{{item.CommissionAmount }}</td>
                                            <td>{{item.PayeeName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                <mat-form-field class="example-full-width mb-0">
                                    <mat-label class="red">Quantity</mat-label>
                                    <input class="red" type="number" min="0" matInput name="Quantity" [(ngModel)]="data.Quantity"
                                        disabled #Quantitytcontrol [autocomplete]="false">
                                </mat-form-field>
                            </div>
                
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                <mat-form-field class="example-full-width mb-0">
                                    <mat-label class="red">Total Amount</mat-label>
                                    <input class="red" matInput name="TotalAmountt"
                                        [(ngModel)]="data.TotalAmount" disabled type="number" min="0"
                                        #TotalAmounttcontrol [autocomplete]="false">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-5 col-sm-12 mb-0 ms-auto p-0">
                                <button type="button"   class="mr-3" mat-raised-button
                                    color="primary" (click)="calculateGrandTotal()">
                                    Calculate Invoice
                                </button>
                                <button *ngIf="addLoyalty" type="submit" [disabled]="!f.valid || !f2.valid "
                                    class="ms-3" mat-raised-button color="primary">
                                    Save
                                </button>
                            </div>
                        </div>
                        </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>