<p>petty-cash works!</p>
<section class="content">
    <div class="container-fluid">
        <div class="block-header"></div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header p-0 py-0 pt-1">
                        <div class="row">
                            <div class="col-md-1 col-6 p-0 ms-3">
                                <h2>PettyCash List </h2>
                            </div>
                           
                        </div>
                    </div>

                    <!-- table list start -->
                 
                    <!-- table list end -->
                </div>
            </div>
        </div>
    </div>
</section>
