<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
          <div class="card p-0">
            <div class="header p-2 py-0 pt-1">
              <div class="row">
                <div class="col-lg-1 col-md-2 col-6 p-0 ms-md-3 ms-2">
                  <h2>Employee <i class="fa fa-file-excel-o" title="ExportAsXLSX" aria-hidden="true" type="button"
                      (click)="exportAsXLSX()"></i></h2>
                </div>
                <div class="col-md-1 col-3 ps-md-0 ps-1 order-1 order-md-1">
                  <select class="form-control" id="itemsPerPage"   name="itemsPerPage"  
                    style="padding:4px 6px; border-radius: 22px; font-size: 10px !important; border: 2px solid #c3c3c3; box-shadow: inset 2px 2px 10px #adaaaad4; width: auto;"
                    [(ngModel)]="itemsPerPage" (change)="getList();">
                    <option [ngValue]="10">Show 10 Rows</option>
                    <option [ngValue]="25">Show 25 Rows</option>
                    <option [ngValue]="50">Show 50 Rows</option>
                    <option [ngValue]="100">Show 100 Rows</option>
                    <option [ngValue]="250">Show 250 Rows</option>
                    <option [ngValue]="500">Show 500 Rows</option>
                  </select>
                </div>
                
                <div class="col-md-3   d-md-block d-none mx-md-auto order-2 order-md-1" style="margin-top:0px;">
                  <ngb-pagination style="margin: 0px 0 !important;" [ellipses]="false" ngbPaginationEllipsis
                    [collectionSize]="collectionSize" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage"
                    (pageChange)="getList()" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                  </ngb-pagination>
                </div>
                <div class="col-6  d-md-none d-block mx-md-auto order-2 order-md-1" style="margin-top:0px;">
                  <ngb-pagination style="margin: 0px 0 !important;" [ellipses]="false" ngbPaginationEllipsis
                    [collectionSize]="collectionSize" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage"
                    (pageChange)="getList()" [maxSize]="2" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                  </ngb-pagination>
                </div>
                <div class="col-md-2 col-5 ms-auto order-0 order-md-1">
                  <div class="input-group">
                    <input placeholder="Search" [(ngModel)]="term" #searching mdbInput type="search" id="form1"
                      class="form-control" />
                  </div>
                </div>
                <div class="col-md-1 col-3 order-3 order-md-1 ms-3 ms-md-0" style="width: 70px;padding: 0;">
                  <mat-icon class="col-white plus_icon me-1" [routerLink]="['/admin/employee',0]"
                    *ngIf="addEmployeeList"> add</mat-icon>
                  <mat-icon class="col-white Grid_icon" (click)="gridview = !gridview" title="Grid View"
                    style="font-size: 22px;padding: 4px;">grid_on</mat-icon>
                </div>
              </div>
            </div>
            <!-- Grid View start -->
            <div class="row mt-5 mt-md-2 p-2" *ngIf="dataList?.length !== 0 && !gridview"
              style="overflow:auto;height:530px; ">
              <div class="col-lg-3 col-md-6" *ngFor="let data of dataList let i = index;">
                <div class="course-card" style="height: 28rem;">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img [src]="data.PhotoURL" alt="Image" class="mx-auto d-block cardImg" />
                    </div>
                    <h2 class="text-center m-0">{{data.Name}}</h2>
                    <p class="text-center m-0">{{data.MobileNo1}}</p>
                    <p class="text-center m-0">{{data.Email}}</p>
                    <p class="text-center m-0 cardAddress">{{data.Address }}</p>
                    <div class="text-center mb-3">
                      <mat-icon class="edit_icon ms-1" [routerLink]="['/admin/employee',data.ID]">edit</mat-icon>
                      <mat-icon class="delete_icon ms-1" (click)="deleteItem(i)">delete_forever</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Grid View end -->
            <!-- table list start -->
            <div class="body mt-md-1 mt-5 p-2">
              <div class="row" *ngIf="gridview">
                <div class="col-sm-12" style="overflow: auto; height: 530px;">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm table-bordered"
                      style="border: 2px solid #fff !important;">
                      <thead>
                        <tr>
                          <th class="text-left">Action</th>
                          <th class="text-left">S.No</th>
                          <th class="text-left">EmployeeName</th>
                          <th class="text-left">MobileNo1</th>
                          <th class="text-left">MobileNo2</th>
                          <th class="text-left">PhoneNo</th>
                          <th class="text-left">Email</th>
                          <th class="text-left">DOB</th>
                          <th class="text-left">Anniversary</th>
                          <th class="text-left">LoginName</th>
                          <th class="text-left">UserGroup</th>
                          <th class="text-left">Address</th>
                          <th class="text-left">CreatedBy</th>
                          <th class="text-left">UpdatedBy</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center" *ngFor="let data of dataList let i = index;"
                          style="white-space: nowrap;">
                          <td style="width: 7%; text-align: left" class="detail_icon">
                            <i *ngIf="editEmployeeList" class="fas fa-info-circle" data-mdb-toggle="modal"
                              data-mdb-target="#exampleModal" (click)="openModal(content,data.ID)">
                            </i>
                            <mat-icon *ngIf="editEmployeeList" class="edit_icon ms-1"
                              [routerLink]="['/admin/employee',data.ID]">edit</mat-icon>
                            <mat-icon *ngIf="data.UserGroup !== 'CompanyAdmin' && deleteEmployeeList"
                              (click)="deleteItem(i)" class="delete_icon ms-1">delete_forever</mat-icon>
                          </td>
                          <td class="text-left">{{dataList.length - i}}</td>
                          <td class="text-left">{{data.Name}}</td>
                          <td class="text-left">{{(data.MobileNo1 !== 'null')? data.MobileNo1:'' }}</td>
                          <td class="text-left">{{(data.MobileNo2 !== 'null')? data.MobileNo2: ''}}</td>
                          <td class="text-left">{{(data.PhoneNo !== 'null')? data.PhoneNo: ''}}</td>
                          <td class="text-left">{{(data.Email !== 'null')? data.Email: ''}}</td>
                          <td class="text-left">{{dateFormat(data.DOB)}}</td>
                          <td class="text-left">{{dateFormat(data.Anniversary)}}</td>
                          <td class="text-left">{{data.LoginName}}</td>
                          <td class="text-left">{{data.UserGroup}}</td>
                          <td class="text-left">{{data.Address}}</td>
                          <td class="text-left">{{data.CreatedPerson}}</td>
                          <td class="text-left">{{data.UpdatedPerson}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- table list end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header" style="height: 50px;">
    <h3 class="modal-title header pt-2" id="exampleModalLabel">Employee Update Password</h3>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 mb-0 mx-auto">
            <mat-form-field class="example-full-width mb-0">
              <mat-label>Enter Password</mat-label>
              <input #x type="password" matInput name="Password" [(ngModel)]="data.Password" required #Passwordcontrol>
              <mat-icon *ngIf="data.Password !== ''" style="color: #ff5100;cursor: pointer;"
                (click)="x.type = x.type=='password'?'text':'password'" matSuffix>vpn_key</mat-icon>
              <mat-error>
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mb-0 mx-auto">
            <mat-form-field class="example-full-width mb-0">
              <mat-label>Confirm Password</mat-label>
              <input #y matInput type="password" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" required
                #ConfirmPasswordcontrol>
              <mat-icon *ngIf="data.Password !== ''" style="color: #ff5100;cursor: pointer;"
                (click)="y.type = y.type=='password'?'text':'password'" matSuffix>vpn_key</mat-icon>
              <mat-error>
                Confirm Password is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button color="primary" [disabled]="!f.valid"
          (click)="UpdatePassword()">Update</button>
      </div>
    </form>
  </div>
</ng-template>