<section class="content">
    <div class="container-fluid">
        <div class="block-header"> </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-lg-2 col-4">
                                <h2>Purchase Info </h2>
                            </div>
                            <!-- togggle btn start -->
                            <div class="col-xl-3 col-lg-5 col-md-5 col-8 ms-auto">
                                <span style="color: rgb(33, 33, 33);">
                                    <mat-slide-toggle name="BrandType" color="primary" [(ngModel)]="item.BrandType"
                                        [disabled]="selectedPurchaseMaster.ID !== null" class="example-margin"
                                        #Multiplecontrol>Branded</mat-slide-toggle>
                                </span>
                                <span class="ms-2 me-2" style="color: rgb(33, 33, 33);">
                                    <mat-slide-toggle name="Multiple" color="primary" [(ngModel)]="disableAddButtons"
                                        class="example-margin" #Multiplecontrol>Quick Entry</mat-slide-toggle>
                                </span>
                                <span style="color: rgb(33, 33, 33);">
                                    <mat-slide-toggle name="Multiple" color="primary"
                                        [(ngModel)]="selectedPurchaseMaster.preOrder" class="example-margin"
                                        #Multiplecontrol>Pre-Order</mat-slide-toggle>
                                </span>
                            </div>
                            <!-- togggle btn end -->
                        </div>
                    </div>
                    <div class="body">
                        <!-- save purchase start -->
                        <form #f="ngForm" autocomplete="off" (ngSubmit)="addItem()">
                            <!-- save purchase start -->
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0 d-inline-flex">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Supplier Name</mat-label>
                                        <mat-select name="Supplier" editable="true"
                                            [(ngModel)]="selectedPurchaseMaster.SupplierID" required #singleSelect
                                            [disabled]="selectedPurchaseMaster.ID !== null"
                                            (selectionChange)="getSupplierDetails($event)">
                                            <mat-option [value]="sup.ID" *ngFor="let sup of supplierList let i = index;">
                                                {{sup.Name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Select Supplier
                                        </mat-error>
                                    </mat-form-field>
                                    <button style="background: none;border:none" *ngIf="disableAddButtons == true"
                                        [routerLink]="['/inventory/supplier']" [queryParams]="{ check: 1}">
                                        <mat-icon class="col-white plus_icon">add</mat-icon>
                                    </button>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Invoice Number</mat-label>
                                        <input matInput name="InvoiceNo" [(ngModel)]="selectedPurchaseMaster.InvoiceNo"
                                            (ngModelChange)="selectedPurchaseMaster.InvoiceNo = onChange($event)"
                                            required #InvoiceNumbercontrol>
                                        <mat-error>
                                            Invoice is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Invoice Date</mat-label>
                                        <input matInput name="InvoiceDate" type="date"
                                            [(ngModel)]="selectedPurchaseMaster.PurchaseDate" required
                                            #InvoiceDatecontrol>
                                        <mat-error>
                                            Invoice date is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Entry Type</mat-label>
                                        <mat-select name="Category" [(ngModel)]="category" required #Typecontrol>
                                            <mat-option value="Product">Product</mat-option>
                                            <mat-option value="Charges">Charges</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Select Entry Type
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0" *ngIf="category !== 'Charges'">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Product</mat-label>
                                        <mat-select name="FieldType" [(ngModel)]="selectedProduct"
                                            (selectionChange)="getFieldList()" required #Typecontrol>
                                            <mat-option *ngFor="let prod of prodList   let i = index;"
                                                [value]="prod.Name">
                                                {{prod.Name | uppercase}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Select Product Type
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 col-md-6 col-6 ms-auto pt-2 p-0" *ngIf="category !== 'Charges'">
                                    
                                <span>
                                    <mat-slide-toggle name="BrandType" color="primary" [(ngModel)]="item.Ledger"
                                        [disabled]="selectedPurchaseMaster.ID !== null" class="example-margin"
                                        #Multiplecontrol>Non-Branded</mat-slide-toggle>

                                </span>
                                    <span class="me-2 ms-2">
                                        <mat-slide-toggle name="WholeSale" color="primary" [(ngModel)]="item.WholeSale"
                                        class="example-margin" #Multiplecontrol>WholeSale</mat-slide-toggle>
                                
                                    </span>
                                    <!-- <span class="ms-2 me-2">
                                        <mat-slide-toggle name="Ledger" color="primary" [(ngModel)]="item.Ledger"
                                            [disabled]="selectedPurchaseMaster.ID !== null" class="example-margin"
                                            #Multiplecontrol>Ledger Entry</mat-slide-toggle>
                                    </span> -->
                                    <span >
                                        <mat-slide-toggle name="Multiple" color="primary" [(ngModel)]="item.Multiple"
                                        [disabled]="selectedPurchaseMaster.ID !== null" class="example-margin"
                                        #Multiplecontrol>Multiple</mat-slide-toggle>
                                    </span>
                                </div>
                            </div>
                            <!-- save product spec start -->
                            <div class="row" *ngIf="category !== 'Charges'">
                                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0"
                                    *ngFor="let spec of specList ; let i = index;">
                                    <div *ngIf="spec.FieldType === 'DropDown'" class="d-flex">
                                        <mat-form-field class=" me-2 mb-0" *ngIf="spec.DisplayAdd === 0">
                                            <mat-label>{{spec.FieldName}}</mat-label>
                                            <mat-select name="{{spec.FieldName+'0'}}" [(ngModel)]="spec.SelectedValue"
                                                (selectionChange)="getFieldSupportData(i)" editable="true"
                                                [required]="spec.Required === 1" #singleSelect>
                                                <mat-option>
                                                </mat-option>
                                                <mat-option *ngFor="let val of spec.SptFilterData "
                                                    [value]="val.TableValue">
                                                    {{val.TableValue}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                {{spec.FieldName}} is Required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-checkbox class="pt-3" name="{{spec.FieldName+'0'}}" color="primary"
                                            [(ngModel)]="spec.CheckBoxValue"></mat-checkbox>

                                        <mat-form-field class="mr-0 mb-0" *ngIf="spec.DisplayAdd === 1">
                                            <mat-label>Add {{spec.FieldName}}</mat-label>
                                            <input matInput name="{{spec.FieldName+'1'}}"
                                                [(ngModel)]="spec.SelectedValue"
                                                (ngModelChange)="spec.SelectedValue = onChange($event)" required
                                                #NewProductTypecontrol>
                                        </mat-form-field>
                                        <button style="background: none;border:none"
                                            *ngIf="spec.DisplayAdd === 0 && disableAddButtons"
                                            (click)="displayAddField(i)">
                                            <mat-icon class="col-white plus_icon">add</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="primary" *ngIf="spec.DisplayAdd === 1"
                                            (click)="saveFieldData(i)"
                                            aria-label="Example icon button with a bookmark icon">
                                            <mat-icon>save</mat-icon>
                                        </button>
                                    </div>
                                    <div *ngIf="spec.FieldType === 'Text'" class="d-flex">
                                        <mat-form-field class=" mr-0 mb-0">
                                            <mat-label>{{spec.FieldName}}</mat-label>
                                            <input matInput name="{{spec.FieldName+'2'}}"
                                                [(ngModel)]="spec.SelectedValue"
                                                (ngModelChange)="spec.SelectedValue = onChange($event)" 
                                                [required]="spec.Required === 1">
                                            <mat-error>
                                                {{spec.FieldName}} is Required
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-checkbox type="checkbox" class="pt-3" name="{{spec.FieldName+'2'}}" color="primary"
                                            [(ngModel)]="spec.CheckBoxValue"></mat-checkbox>
                                    </div>
                                    <div *ngIf="spec.FieldType === 'Date'" class="d-flex">
                                        <mat-form-field class=" mr-0 mb-0">
                                            <mat-label>{{spec.FieldName}}</mat-label>
                                            <input type="date" matInput name="{{spec.FieldName+'3'}}"
                                                [(ngModel)]="spec.SelectedValue"
                                                (ngModelChange)="spec.SelectedValue = onChange($event)" editable="true"
                                                [required]="spec.Required === 1">
                                            <mat-error>
                                                {{spec.FieldName}} is Required
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-checkbox class="pt-3" name="{{spec.FieldName+'2'}}" color="primary"
                                            [(ngModel)]="spec.CheckBoxValue"></mat-checkbox>
                                    </div>
                                    <div *ngIf="spec.FieldType === 'boolean'" class="d-flex">
                                        <mat-slide-toggle name="{{spec.FieldName+'3'}}" color="primary"
                                            class="example-margin" #Multiplecontrolx [(ngModel)]="spec.SelectedValue">
                                            {{spec.FieldName}}</mat-slide-toggle>

                                        <mat-checkbox class="pt-3" name="{{spec.FieldName+'3'}}" color="primary"
                                            [(ngModel)]="spec.CheckBoxValue" [required]="spec.Required === 1">
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <!-- save product spec end -->
                            <!-- save calculation product start -->
                            <div class="row" *ngIf="category !== 'Charges' ">
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Unit Price</mat-label>
                                        <input matInput name="UnitPrice" [(ngModel)]="item.UnitPrice" required
                                            #UnitPricecontrol [autocomplete]="false" (change)="calculateFields('UnitPrice', 'subTotal')">
                                        <mat-error>
                                            Unit Price is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Quantity</mat-label>
                                        <input matInput name="Quantity" [(ngModel)]="item.Quantity" required
                                            #Quantitycontrol [autocomplete]="false" (change)="calculateFields('Quantity', 'subTotal')">
                                        <mat-error>
                                            Quantity is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0" >
                                    <mat-form-field  >
                                        <mat-label>Discount% / Amt</mat-label>
                                        <div class="d-flex">
                                        <input matInput name="Discount" [(ngModel)]="item.DiscountPercentage"
                                        required #Discountcontrol (change)="calculateFields('DiscountPercentage', 'discount')"> /
                                          <input matInput name="DAmount" [(ngModel)]="item.DiscountAmount" required #DAmountcontrol (change)="calculateFields('DiscountAmount', 'discount')">
                                        </div>
                                        <mat-error>
                                            Discount is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Sub Total</mat-label>
                                        <input matInput name="SubTotal" [(ngModel)]="item.SubTotal" [disabled]='true'
                                            required #SubTotalcontrol [autocomplete]="false">
                                        <mat-error>
                                            Sub Total is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 d-flex">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>(GST/VAT)% / Amt </mat-label>
                                        <div class="d-flex">
                                           <div class="d-flex">
                                               <input matInput name="GST" [(ngModel)]="item.GSTPercentage" required #GSTcontrol
                                                [autocomplete]="false" (blur)="calculateFields('GSTPercentage', 'gst')"> /
                                               <input matInput name="GSTAmt" [(ngModel)]="item.GSTAmount" required
                                                 #GSTAmtcontrol [autocomplete]="false" (blur)="calculateFields('GSTAmount', 'gst')">
                                            </div>
                                            <mat-checkbox *ngIf="item.GSTPercentage !== 0 && item.GSTPercentage !== '0'" name="gstperLock" color="primary" [(ngModel)]="gstperLock"></mat-checkbox>
                                        </div>
                                    <mat-error>
                                        GST is required
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 d-flex">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>TAX Type</mat-label>
                                        <mat-select name="GSTType" [(ngModel)]="item.GSTType" #GSTTypecontrol1 required (selectionChange)="calculateFields('TotalAmount', 'total')" (blur)="calculateFields('TotalAmount', 'total');notifyGst();" >
                                            <mat-option value="None" *ngIf="item.GSTPercentage  === 0 || item.GSTAmount === 0">None
                                            </mat-option>
                                            <mat-option  [value]="g.Name" *ngFor="let g of gstList">{{g.Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-checkbox style="padding-top: 14px;" *ngIf="item.GSTType !== 'None' && item.GSTPercentage !== 0 && item.GSTPercentage !== '0'" name="gstLock" color="primary" [(ngModel)]="gstLock"></mat-checkbox>

                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 ms-2">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Total Amount</mat-label>
                                        <input matInput name="TotalAmount" [(ngModel)]="item.TotalAmount"
                                            [disabled]=true required #TotalAmountcontrol [autocomplete]="false">
                                        <mat-error>
                                            Total Amount is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Retail Rate</mat-label>
                                        <input matInput name="SaleRate" [(ngModel)]="item.RetailPrice" required
                                            #SaleRatecontrol [autocomplete]="false">
                                        <mat-error>
                                            Sale Rate is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Wholesale Rate</mat-label>
                                        <input matInput name="WSaleRate" [(ngModel)]="item.WholeSalePrice" required
                                            #WSaleRatecontrol [autocomplete]="false">
                                        <mat-error>
                                            Sale Rate is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 ml-auto">
                                    <button class="mr-3" type="submit" [disabled]="!f.valid || item.Quantity == 0"
                                        mat-raised-button color="primary">Add</button>
                                </div>
                            </div>
                            <!-- save calculation product end -->
                            <!-- Charge input model strat -->
                            <div *ngIf="category === 'Charges'" class="row">
                                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Charge Type</mat-label>
                                        <mat-select name="ChargeType" [(ngModel)]="charge.ChargeType" required
                                            (selectionChange)="setChargeValues()" #ChargeTypecontrol1>
                                            <mat-option *ngFor="let charge of chargeOptions let i = index;"
                                                [value]="charge.ID">
                                                {{charge.Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Description</mat-label>
                                        <input matInput name="Description" [(ngModel)]="charge.Description"
                                            #Descriptioncontrol>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Amount</mat-label>
                                        <input matInput name="Price" [(ngModel)]="charge.Price" required #Amountcontrol (blur)="calculateFields('TAmount', 'chtotal')">
                                        <mat-error>
                                            Amount is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>GST%</mat-label>
                                        <input matInput name="GST" [(ngModel)]="charge.GSTPercentage" required
                                            #GSTcontrol [autocomplete]="false" (blur)="calculateFields('GSTPercentage', 'chgst')">
                                        <mat-error>
                                            GST is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>GST Amt</mat-label>
                                        <input matInput name="GSTAmt" [(ngModel)]="charge.GSTAmount" required
                                            #GSTAmtcontrol [autocomplete]="false" (blur)="calculateFields('GSTAmount', 'chgst')">
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>GST Type</mat-label>
                                        <mat-select name="GSTType" [(ngModel)]="charge.GSTType" required
                                            #GSTTypecontrol1 (blur)="calculateFields('TAmount', 'chtotal')">
                                            <mat-option value="None">None</mat-option>
                                            <mat-option [value]="g.Name" *ngFor="let g of gstList">{{g.Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Total Amount</mat-label>
                                        <input matInput name="TAmount" [(ngModel)]="charge.TotalAmount" required
                                            [disabled]=true #TAmountcontrol [autocomplete]="false">
                                    </mat-form-field>
                                </div>
                                <div *ngIf="category === 'Charges'"
                                    class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 ml-auto">
                                    <button class="mr-3" (click)="calculateFields('TAmount', 'chtotal')" type="submit" [disabled]="!f.valid " mat-raised-button
                                        color="primary">Add</button>
                                        
                                </div>
                            </div>
                            <!-- Charge input model end -->
                        </form>
                        <!-- save purchase end -->
                        <form #f2="ngForm"  (ngSubmit)="onSumbit()">
                            <!-- Add item List start -->
                            <div class="row">
                                <div class="col-sm-12" style="overflow: auto; height: 340px;">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-sm table-bordered"
                                            style="border: 2px solid #fff !important;">
                                            <thead>
                                                <tr style="white-space: nowrap;">
                                                    <th style="z-index: 0 !important;">
                                                        <mat-checkbox></mat-checkbox>
                                                    </th>
                                                    <th>Action</th>
                                                    <th>BaseBarCode</th>
                                                    <th>Code</th>
                                                    <th>ProductCategory</th>
                                                    <th>UnitPrice</th>
                                                    <th>Quantity</th>
                                                    <th>SubTotal</th>
                                                    <th>GSTAmt</th>
                                                    <th>GSTPer</th>
                                                    <th>GSTType</th>
                                                    <th>DiscountAmt</th>
                                                    <th>DiscountPer</th>
                                                    <th>TotalAmt</th>
                                                    <th>SalePrice/Unit</th>
                                                    <th>WholeSalePrice/Unit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of itemList ; let i = index;">
                                                    <td class="text-center" >
                                                        <mat-checkbox [(ngModel)]="data.Checked" name="{{i + 'name'}}" [checked]="data.Checked" [ngModelOptions]="{standalone: true}" >
                                                        </mat-checkbox>
                                                    </td>
                                                    <!-- <td style="z-index: -999 !important;" *ngIf="data.Status === 0"></td> -->
                                                    <td class="text-center">
                                                        <mat-icon *ngIf="data.Status !== 0" class="delete_icon ms-1">print</mat-icon>
                                                        <mat-icon *ngIf="data.Status !== 0" class="delete_icon ms-1" (click)="deleteItem('Product',i)">delete_forever</mat-icon>
                                                        <mat-icon class="delete_icon ms-1" (click)="edititem('Product',data)" *ngIf="data.ID !== null && data.Status !== 0">edit </mat-icon>
                                                    </td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.BaseBarCode}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.UniqueBarcode}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.ProductName}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.Quantity}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.SubTotal}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.UnitPrice }}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.GSTAmount}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.GSTPercentage}}%</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.GSTType}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.DiscountAmount}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.DiscountPercentage}}%</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.TotalAmount}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.RetailPrice}}</td>
                                                    <td class="text-center" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" >{{data.WholeSalePrice}}</td>
                                                </tr>
                                               
                                                <tr *ngFor="let data of chargeList ; let i = index;">
                                                    <td></td>
                                                    <td class="text-center">
                                                        <mat-icon *ngIf="data.Status !== 0" class="delete_icon ms-1" (click)="deleteItem('Charges',i)">delete_forever</mat-icon>
                                                    </td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">{{data.ChargeType}}/{{data.Description}}</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                    <td *ngIf="data.ID !== null" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">{{data.Amount }} </td>
                                                    <td *ngIf="data.ID === null" [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">{{data.Price}} </td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">{{data.GSTAmount}}</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">{{data.GSTPercentage}}%</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">{{data.GSTType}}</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">{{data.TotalAmount}}</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                    <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }" class="text-center">--</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Add item List end -->
                            <!-- Total calculcation start -->
                            <div class="row">
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Quantity</mat-label>
                                        <input matInput name="Quantityt" [(ngModel)]="selectedPurchaseMaster.Quantity"
                                            disabled #Quantitytcontrol [autocomplete]="false">
                                        <mat-error>
                                            Quantity is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Sub Total</mat-label>
                                        <input matInput name="SubTotalt" [(ngModel)]="selectedPurchaseMaster.SubTotal"
                                            disabled #SubTotaltcontrol [autocomplete]="false">
                                        <mat-error>
                                            Sub Total is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>D.Amount</mat-label>
                                        <input matInput name="DAmountt"
                                            [(ngModel)]="selectedPurchaseMaster.DiscountAmount" disabled
                                            #DAmounttcontrol [autocomplete]="false">
                                        <mat-error>
                                            D.Amount is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0" >
                                    <mat-form-field class="example-full-width mb-0">
                                    <mat-label>IGST</mat-label>
                                    <input matInput name="igstAmt" [(ngModel)]="igstAmt" disabled>
                                    <mat-error>
                                        GST Amt is required
                                    </mat-error>
                                </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>CGST</mat-label>
                                        <input matInput name="cgst" [(ngModel)]="cgst" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>SGST</mat-label>
                                        <input matInput name="sgst" [(ngModel)]="sgst" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>TotalGSTAmt</mat-label>
                                        <input matInput name="GSTAmtt" [(ngModel)]="selectedPurchaseMaster.GSTAmount"
                                            disabled #GSTAmttcontrol [autocomplete]="false">
                                        <mat-error>
                                            GST Amt is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                                    <mat-form-field class="example-full-width mb-0">
                                        <mat-label>Total Amount</mat-label>
                                        <input matInput name="TotalAmountt"
                                            [(ngModel)]="selectedPurchaseMaster.TotalAmount" disabled
                                            #TotalAmounttcontrol [autocomplete]="false">
                                        <mat-error>
                                            Total Amount is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 ml-auto">
                                    <button type="button" class="mr-3" mat-raised-button
                                        color="primary">PrintBarcode</button>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 ml-auto">
                                    <button type="submit"  [disabled]="itemList.length == 0 || id != 0" mat-raised-button color="primary">Save
                                        PO</button>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 mr-3">
                                    <button type="button" *ngIf="selectedPurchaseMaster.ID !== null" mat-raised-button
                                        color="primary">Update PO</button>
                                </div>
                            </div>
                            <!-- Total calculcation end -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>