.disabled {
    background-color: #aeaeae;
}


.detail_icons {
    background: #434aabe8;
    color: #fff;
    padding: 4px !important;
    border-radius: 24px !important;
    font-size: 22px !important;
    height: 30px !important;
    width: 30px !important;
    transition: .5s;
    cursor: pointer;
    box-shadow: 2px 2px 6px #9c9795fa;
  }