<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                    <div class="card p-0">
                        <div class="header p-2 py-0 pt-1">
                            <div class="row">
                                <div class="col-md-2 col-8 p-0 ms-3">
                                    <h2>Recycle Bin</h2>
                                </div>

                            </div>
                        </div>
                        <div class="body">
                            <form class="p-3 pb-0" #f1="ngForm" (ngSubmit)="onsubmit()">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0 ">
                                        <mat-form-field class="example-full-width mb-0 paddingInp">
                                            <mat-label>From</mat-label>
                                            <input matInput name="FromDate" type="date" [(ngModel)]="data.FromDate" required
                                                #FromDatecontrol  />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0 ">
                                        <mat-form-field class="example-full-width mb-0 paddingInp ">
                                            <mat-label>To</mat-label>
                                            <input matInput type="date" name="ToDate" [(ngModel)]="data.ToDate"  required #ToDatecontrol />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                                        <mat-form-field class="example-full-width mb-0">
                                            <mat-label>Employee Name</mat-label>
                                            <mat-select name="Employee" [(ngModel)]="data.Employee"  #Employeecontrol required>
                                                <mat-option [value]=0></mat-option>
                                                <mat-option *ngFor="let el of employeeList let i = index;" [value]="el.ID">
                                                    {{el.Name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>Name is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                                        <mat-form-field class="example-full-width mb-0">
                                            <mat-label>Shop Name</mat-label>
                                            <mat-select name="ShopName" [(ngModel)]="data.ShopName"  #ShopNamecontrol required>
                                                <mat-option [value]=0>All</mat-option>
                                                <mat-option *ngFor="let s of shopList let i = index;" [value]="s.ID">
                                                    {{s.Name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>Name is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                   
                                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0 ">
                                        <button class="me-3" type="submit" mat-raised-button color="primary" [disabled]="!f1.valid">
                                            Search
                                        </button>
                                        <button type="button" mat-raised-button color="warn" (click)="reset()">
                                            Reset
                                        </button>
                                    </div>

                                </div>
                            </form>
                                <div class="row mt-4">
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-0 card-E">
                                            
                                        <div class="row">
                                            <div class="col-10">
                                                <h3>Customer</h3>
                                            </div>
                                            <div class="col-2">
                                                <button (click)="getList('Customer')">
                                                    <i class="fas fa-info-circle ng-star-inserted"></i>
                                                </button>
                                               
                                            </div>
                                        </div>
                                    
                                           <table >
                                              <tr>
                                                   <th>Customer Delete</th>
                                                   <td>{{this.customerData.deleteCount ? this.customerData.deleteCount:0}}</td>
                                              </tr>
                                           </table>
                                       
                                      
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-0 card-E">
                            
                                         <div class="row">
                                            <div class="col-10">
                                                <h3>Bill</h3>
                                            </div>
                                            <div class="col-2">
                                                <button (click)="getList('Bill')">
                                                    <i class="fas fa-info-circle ng-star-inserted"></i>
                                                </button>
                                            </div>
                                        </div>
                                           <table >
                                              <tr>
                                                   <th>Invoice Delete</th>
                                                   <td>0</td>
                                              </tr>
                                              <tr>
                                                   <th>Product Delete</th>
                                                   <td>0</td>
                                              </tr>
                                              <tr>
                                                   <th>Bill Amonut (Product Wise)</th>
                                                   <td>0</td>
                                              </tr>
                                              <tr>
                                                   <th>Service Delete</th>
                                                   <td>0</td>
                                              </tr>
                                              <tr>
                                                   <th>Discount After BIll</th>
                                                   <td>0</td>
                                              </tr>
                                           </table>
                                         
                                      
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-0 card-E">
                                   
                                       
                                         <div class="row">
                                            <div class="col-10">
                                                <h3>Expenses</h3>
                                            </div>
                                            <div class="col-2">
                                                <button (click)="getList('Expenses')">
                                                    <i class="fas fa-info-circle ng-star-inserted"></i>
                                                </button>
                                            </div>
                                        </div>

                                           <table >
                                              <tr>
                                                   <th>Invoice Delete </th>
                                                   <td>{{this.expenseData.deleteCount ? this.expenseData.deleteCount:0}}</td>
                                              </tr>
                                              <tr>
                                                   <th>Total Amonut </th>
                                                   <td>{{this.expenseData.total_invoice_amount ? this.expenseData.total_invoice_amount:0}}</td>
                                              </tr>
                                           </table>
                                          
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-0 card-E">
                                      
                                       
                                         <div class="row">
                                            <div class="col-10">
                                                <h3>Purchase</h3>
                                            </div>
                                            <div class="col-2">
                                                <button (click)="getList('Purchase')">
                                                    <i class="fas fa-info-circle ng-star-inserted"></i>
                                                </button>
                                            </div>
                                        </div>

                                           <table >
                                              <tr>
                                                   <th>Prodcut Delete</th>
                                                   <td>0</td>
                                              </tr>
                                              <tr>
                                                   <th>Total Amonut </th>
                                                   <td>0</td>
                                              </tr>
                                           </table>
                                             
                                    </div>
                                  
                                </div>
                                
                            
                         
                        </div>
                    </div>

                    <div class="card p-0">
                        <div class="body">
                            <form class="p-3 pb-0" #f2="ngForm" >
                                <div class="row ">

                                    <div class="col-sm-12 mb-0 " *ngIf="customerlist" style="height: 400px; overflow: auto;">
                                         <h1 class="h1-heading-list">Customer List</h1>
                                           <table class=" mt-2 table table-striped table-hover table-sm table-bordered"  style="border: 2px solid #fff !important;">
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>SNo.</th>
                                                    <th>VisitDate</th>
                                                    <th>Cust_ID</th>
                                                    <th>CustomerName</th>
                                                    <th>MoblieNo.</th>
                                                    <th>DeleteDate</th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" *ngFor="let c of this.customerData.data; let i = index">
                                                    <td><button class="restore"> <mat-icon>restore</mat-icon></button></td>
                                                    <td>{{i+1}}</td>
                                                    <td>{{c.VisitDate}}</td>
                                                    <td>{{c.Cust_ID}}</td>
                                                    <td>{{c.Title}} {{c.CustomerName}}</td>
                                                    <td>{{c.MobileNo}}</td>
                                                    <td>{{c.DeletedDate}}</td>
                                                  
                                                   
                                                </tr>
                                            </tbody>
                                           </table>
                                     
                                    </div>

                                    <div class="col-sm-12 mb-0 " *ngIf="billlist" style="height: 400px; overflow: auto;">
                                        <h1 class="h1-heading-list">BIll List</h1>
                                        <table class=" mt-2 table table-striped table-hover table-sm table-bordered"  style="border: 2px solid #fff !important;">

                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>SNo.</th>
                                                    <th>InvoiceNo</th>
                                                    <th>InvoiceDate</th>
                                                    <th>ProductName</th>
                                                    <th>Qty</th>
                                                    <th>Amont</th>
                                                    <th>DeleteDate</th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td><button class="restore"> <mat-icon>restore</mat-icon></button></td>
                                                    <td>1</td>
                                                    <td>121</td>
                                                    <td>06-10-2024</td>
                                                    <td>none</td>
                                                    <td>2</td>
                                                    <td>2</td>
                                                    <td>06-10-2024</td>
                                                </tr>
                                            </tbody>
                                           </table>
                                      
                                    </div>

                                    <div class="col-sm-12 mb-0 " *ngIf="expenselist" style="height: 400px; overflow: auto;">
                                        <h1 class="h1-heading-list">Expenses List</h1>
                                        <table class=" mt-2 table table-striped table-hover table-sm table-bordered"  style="border: 2px solid #fff !important;">

                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>SNo.</th>
                                                    <th>InvoiceNo</th>
                                                    <th>ExpenseDate</th>
                                                    <th>ExpenseType</th>
                                                    <th>GivenTo</th>
                                                    <th>Amont</th>
                                                    <th>PaymentMode</th>
                                                    <th>DeleteDate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" *ngFor="let e of this.expenseData.data; let i = index">
                                                    <td><button class="restore"> <mat-icon>restore</mat-icon></button></td>
                                                    <td>{{i+1}}</td>
                                                    <td>{{e.InvoiceNo}}</td>
                                                    <td>{{e.ExpenseDate}}</td>
                                                    <td>{{e.ExpenseType}}</td>
                                                    <td>{{e.Name}}</td>
                                                    <td>{{e.Amount}}</td>
                                                    <td>{{e.PaymentMode}}</td>
                                                    <td>{{e.DeletedDate}}</td>
                                                   
                                                </tr>
                                            </tbody>
                                            
                                           </table>
                                    </div>

                                    <div class="col-sm-12 mb-0 " *ngIf="purchaselist" style="height: 400px; overflow: auto;">
                                        <h1 class="h1-heading-list">Purchase List</h1>
                                        <table class=" mt-2 table table-striped table-hover table-sm table-bordered"  style="border: 2px solid #fff !important;">

                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>SNo.</th>
                                                    <th>InvoiceNo</th>
                                                    <th>PurchaseDate</th>
                                                    <th>ProductName</th>
                                                    <th>Qty</th>
                                                    <th>Amont</th>
                                                    <th>DeleteDate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td><button class="restore"> <mat-icon>restore</mat-icon></button></td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>06-10-2024</td>
                                                    <td>naone</td>
                                                    <td>222</td>
                                                    <td>00</td>
                                                    <td>06-10-2024</td>
                                                </tr>
                                            </tbody>
                                          
                                           </table>
                                    </div>
                                  
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
