<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                    <div class="card p-0">
                        <div class="header p-2 py-0 pt-1">

                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-6 p-0 ms-3">
                                    <h2>Company Login List</h2>
                                </div>
                            </div>
                        </div>

                        <mat-tab-group>
                            <mat-tab label="Login List">
                                <div class="p-3">
                                    <div class="row">
                                        <div class="col-md-2 col-12   order-3 order-md-1">
                                            <select class="form-control" id="itemsPerPage" name="itemsPerPage"
                                                style="width: auto; border-radius: 22px; font-size: 10px !important; border: 2px solid #c3c3c3; box-shadow: inset 2px 2px 10px #adaaaad4;"
                                                [(ngModel)]="itemsPerPage" (change)="getList();">
                                                <option [ngValue]="10">Show 10 Row</option>
                                                <option [ngValue]="25">Show 25 Row</option>
                                                <option [ngValue]="50">Show 50 Row</option>
                                                <option [ngValue]="100">Show 100 Row</option>
                                                <option [ngValue]="250">Show 250Row</option>
                                                <option [ngValue]="500">Show 500 Row</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-12 mx-md-auto order-2 order-md-1 mt-3 mt-md-0"
                                            style="margin-top:0px;">
                                            <ngb-pagination style="margin: 0px 0 !important;" [ellipses]="false"
                                                ngbPaginationEllipsis [collectionSize]="collectionSize" #numPages
                                                [pageSize]="itemsPerPage" [(page)]="currentPage"
                                                (pageChange)="getList()" [maxSize]="5" [rotate]="true"
                                                [ellipses]="false" [boundaryLinks]="true">
                                            </ngb-pagination>
                                        </div>
                                        <div class="col-md-2 col-12 ms-auto  order-0 order-md-1">
                                            <div class="input-group">
                                                <input placeholder="Search" [(ngModel)]="term" #searching mdbInput
                                                    type="search" id="form1" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-md-2 mt-5 ">
                                        <div style="overflow-x:auto;overflow:auto;height:530px; "
                                            class="table-responsive">
                                            <table style="width:100%;" id="exportsss"
                                                class="table table-striped table-hover table-sm table-bordered"
                                                style="border: 2px solid #fff !important;">
                                                <thead class="thead-light" style="width:100%;">
                                                    <tr>
                                                        <th class="text-left">S.No</th>
                                                        <th class="text-left"> Name</th>
                                                        <th class="text-left">CompanyName</th>
                                                        <th class="text-left">IpAddress</th>
                                                        <th class="text-left">LoginTime</th>
                                                        <th class="text-left">Comment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center"
                                                        *ngFor="let data of dataList  ; let i = index;">
                                                        <td class="text-left">{{dataList.length - i }}</td>
                                                        <td class="text-left">{{data.UserName}}</td>
                                                        <td class="text-left">{{data.CompanyName}}</td>
                                                        <td class="text-left">{{data.IpAddress}}</td>
                                                        <td class="text-left">{{data.LoginTime | date: 'dd-MM-yyyy hh:mm a'}}</td>
                                                        <td class="text-left">{{data.Comment }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Active Login ">
                                <div class="p-3">

                                    <form class="p-3 pb-0" #f1="ngForm" (ngSubmit)="searchData1('Active')">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>From Date</mat-label>
                                                    <input matInput name="FromDate" type="date"
                                                        [(ngModel)]="filter.FromDate" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>To Date</mat-label>
                                                    <input matInput name="ToDate" type="date"
                                                        [(ngModel)]="filter.ToDate" />
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-2">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>Company Name</mat-label>
                                                    <mat-select name="CompanyID" [(ngModel)]="filter.CompanyID"
                                                        #CompanyIDcontrol>
                                                        <mat-option>
                                                            <ngx-mat-select-search matInput [(ngModel)]="searchValue"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option value=''>All</mat-option>
                                                        <mat-option [value]="sup.ID"
                                                            *ngFor="let sup of dropComlist | companyName: searchValue  let i = index;"
                                                            style="color: #000;">
                                                            {{sup.Name}}
                                                        </mat-option>
                                                    </mat-select>

                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2 ">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>CompanyStatus</mat-label>
                                                    <mat-select name="CompanyStatus" [(ngModel)]="filter.CompanyStatus">
                                                        <mat-option [value]=0>All</mat-option>
                                                        <mat-option value='null'></mat-option>
                                                        <mat-option [value]="sup.ID" *ngFor="let sup of depList">
                                                            {{sup.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error>
                                                        Select CompanyStatus
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-2">
                                                <button type="submit" mat-raised-button color="primary"> Search</button>
                                                <button type="button" class="me-3 ms-3" mat-raised-button color="warn"
                                                    (click)="FromReset()"> Reset</button>
                                                    <button type="button"  mat-raised-button style="background-color: green; color:#fff"
                                                    (click)="exportAsXLSX('ActiveCount')"> Excel</button>
                                            </div>
                                            <div class="col-md-2 col-md-2 mt-3 mt-md-1" style="color:red; text-align: right;">
                                                <b >ActiveCount:- {{this.ActiveCount}}</b>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="row mt-md-2 mt-5  ">
                                        <div style="overflow-x:auto;overflow:auto;height:530px; "
                                            class="table-responsive">
                                            <table style="width:100%;" id="exportsss"
                                                class="table table-striped table-hover table-sm table-bordered"
                                                style="border: 2px solid #fff !important;">
                                                <thead class="thead-light" style="width:100%;">
                                                    <tr>
                                                        <th class="text-left">S.No</th>
                                                        <th class="text-left">CompanyID</th>
                                                        <th class="text-left">Name</th>
                                                        <th class="text-left">Mobile</th>
                                                        <th class="text-left">CompanyStatus</th>
                                                        <th class="text-left">LoginCount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center"
                                                        *ngFor="let data of dataListcount  ; let i = index;">
                                                        <td class="text-left">{{dataListcount.length - i }}</td>
                                                        <td class="text-left">{{data.CompanyID}}</td>
                                                        <td class="text-left">{{data.Name}}</td>
                                                        <td class="text-left">{{data.Mobile}}</td>
                                                        <td class="text-left">{{data.CompanyStatus}}</td>
                                                        <td class="text-left"
                                                            (click)="openModal(content, data.Details)">
                                                            {{data.LoginCount}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>

                            <mat-tab label="Non-Active Login ">
                                <div class="p-3">

                                    <form class="p-3 pb-0" #f1="ngForm" (ngSubmit)="searchData1('Non')">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>From Date</mat-label>
                                                    <input matInput name="FromDate" type="date"
                                                        [(ngModel)]="filter.FromDate" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>To Date</mat-label>
                                                    <input matInput name="ToDate" type="date"
                                                        [(ngModel)]="filter.ToDate" />
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-2">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>Company Name</mat-label>
                                                    <mat-select name="CompanyID" [(ngModel)]="filter.CompanyID"
                                                        #CompanyIDcontrol>
                                                        <mat-option>
                                                            <ngx-mat-select-search matInput [(ngModel)]="searchValue"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option value=''>All</mat-option>
                                                        <mat-option [value]="sup.ID"
                                                            *ngFor="let sup of dropComlist | companyName: searchValue  let i = index;"
                                                            style="color: #000;">
                                                            {{sup.Name}}
                                                        </mat-option>
                                                    </mat-select>

                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-form-field class="example-full-width mb-0">
                                                    <mat-label>CompanyStatus</mat-label>
                                                    <mat-select name="CompanyStatus" [(ngModel)]="filter.CompanyStatus">
                                                        <mat-option [value]=0>All</mat-option>
                                                        <mat-option value='null'></mat-option>
                                                        <mat-option [value]="sup.ID" *ngFor="let sup of depList">
                                                            {{sup.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error>
                                                        Select CompanyStatus
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-2">
                                                <button type="submit" mat-raised-button color="primary"> Search</button>
                                                <button type="button" class="me-3 ms-3" mat-raised-button color="warn"
                                                    (click)="FromReset()"> Reset</button>
                                                    <button type="button"  mat-raised-button style="background-color: green; color:#fff"
                                                    (click)="exportAsXLSX('NonActiveCount')"> Excel</button>
                                            </div>
                                            <div class="col-md-2 mt-3 mt-md-1" style="color:red; text-align: right;">
                                                <b >NonActiveCount:- {{this.NonActiveCount}}</b>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="row mt-md-2 mt-5  ">
                                        <div style="overflow-x:auto;overflow:auto;height:530px; "
                                            class="table-responsive">
                                            <table style="width:100%;" id="exportsss"
                                                class="table table-striped table-hover table-sm table-bordered"
                                                style="border: 2px solid #fff !important;">
                                                <thead class="thead-light" style="width:100%;">
                                                    <tr>
                                                        <th class="text-left">S.No</th>
                                                        <th class="text-left">CompanyID</th>
                                                        <th class="text-left">Name</th>
                                                        <th class="text-left">Mobile</th>
                                                        <th class="text-left">CompanyStatus</th>
                                                        <th class="text-left">LoginCount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center"
                                                        *ngFor="let data of NondataListcount  ; let i = index;">
                                                        <td class="text-left">{{NondataListcount.length - i }}</td>
                                                        <td class="text-left">{{data.CompanyID}}</td>
                                                        <td class="text-left">{{data.Name}}</td>
                                                        <td class="text-left">{{data.Mobile}}</td>
                                                        <td class="text-left">{{data.CompanyStatus}}</td>
                                                        <td class="text-left"
                                                            (click)="openModal(content, data.Details)">
                                                            {{data.LoginCount}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- model popup start -->
<ng-template #content role="document" let-modal>
    <div class="modal-header" style="height: 50px; border-bottom: #ff651e 3px solid;">
        <h2 class="modal-title header pt-2" id="exampleModalLabel">LoginCount List </h2>
        <button type="button" title="Close Botton" class="btn-close" aria-hidden="true"
            (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body ">
        <div class="row mt-md-2 mt-5  ">
            <div style="overflow-x:auto;overflow:auto;height:530px; " class="table-responsive">
                <table style="width:100%;" id="exportsss"
                    class="table table-striped table-hover table-sm table-bordered"
                    style="border: 2px solid #fff !important;">
                    <thead class="thead-light" style="width:100%;">
                        <tr>
                            <th class="text-left">S.No</th>
                            <th class="text-left">CompanyName</th>
                            <th class="text-left">UserName</th>
                            <th class="text-left">UserGroup</th>
                            <th class="text-left">IpAddress</th>
                            <th class="text-left">LoginTime</th>
                            <th class="text-left">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let data of DetailsList; let i = index;">
                            <td class="text-left">{{DetailsList.length - i }}</td>
                            <td class="text-left">{{data.CompanyName}}</td>
                            <td class="text-left">{{data.UserName}}</td>
                            <td class="text-left">{{data.UserGroup}}</td>
                            <td class="text-left">{{data.IpAddress}}</td>
                            <td class="text-left">{{data.LoginTime | date: 'dd-MM-yyyy hh:mm a'}}</td>
                            <td class="text-left">{{data.Comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
<!-- model popup ent -->
<!-- Modal -->