<body>
  <div class="navbar">
    <!-- responsive navbar toggle button -->
    <input type="checkbox" id="nav-check">
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <!-- Navbar items -->
    <div class="nav-links">
      <!-- SuperAdmin nav -->
      <a *ngIf="user?.data?.UserGroup === 'SuperAdmin'" [routerLink]="['/admin/adminDashborad']">Dashborad</a>
      <div *ngIf="user?.data?.UserGroup === 'SuperAdmin'" class="dropdown">
        <a class="dropBtn" data-target="#collapseExample">Administration <i class="fa fa-caret-down" aria-hidden="true"></i></a>

        <div class="drop-content" id="collapseExample">
          <a href="javascript:void(0)" [routerLink]="['/admin/company',0]"    id="collapseExample">Company Info</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/companyList']"  id="collapseExample">Company List</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/userList']"     id="collapseExample">User List</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/loginHistory']" id="collapseExample">Login History</a>
        </div>
        
     </div>

      <div *ngIf="user?.data?.UserGroup === 'SuperAdmin'" class="dropdown">
        <a class="dropBtn" data-target="#collapseExample">Product Assign <i class="fa fa-caret-down" aria-hidden="true"></i></a>

        <div class="drop-content" id="collapseExample">
          <a href="javascript:void(0)" [routerLink]="['/admin/productManageAssign']" id="collapseExample">Product Manage</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/productMaster']" id="collapseExample">Product Master</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/addTypeAssign']"     id="collapseExample">Add Manager</a>
        </div>

      </div>
      
      <!-- SuperAdmin end nav-->

      <!-- CompanyAdmin nav-->
      <a *ngIf="user.data.UserGroup !== 'SuperAdmin'" [routerLink]="['/admin/CompanyDashborad']">Dashborad</a>
      <div *ngIf="user.data.UserGroup !== 'SuperAdmin'" class="dropdown">
        <a class="dropBtn" data-target="#collapseExample">Administration <i class="fa fa-caret-down" aria-hidden="true"></i> </a>

        <div class="drop-content" id="collapseExample">
          <a href="javascript:void(0)" [routerLink]="['/admin/company',user.data.CompanyID]" id="collapseExample">Company Info</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/employeeList']"                   id="collapseExample">Employee</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/shopList']"                       id="collapseExample">Shop</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/rolePermission']"                       id="collapseExample">Role-Permission</a>
          <a href="javascript:void(0)" [routerLink]="['/admin/companySetting']"                       id="collapseExample">Company Setting</a>
          <a href="#">SMS Setting</a>
          <a href="#">Login History</a>
          <a href="#">Recycle-Bin</a>
        </div>

      </div>

      <div *ngIf="user?.data?.UserGroup !== 'SuperAdmin'" class="dropdown">
        <a class="dropBtn" data-target="#collapseExample">Product Assign <i class="fa fa-caret-down" aria-hidden="true"></i></a>

        <div class="drop-content" id="collapseExample">
          <a href="javascript:void(0)" [routerLink]="['/product/productManage']" id="collapseExample">Product Manage</a>
          <a href="javascript:void(0)" [routerLink]="['/product/productMaster']" id="collapseExample">Product Master</a>
          <a href="javascript:void(0)" [routerLink]="['/product/addManage']"     id="collapseExample">Add Manager</a>
        </div>

      </div>

      <div *ngIf="user?.data?.UserGroup !== 'SuperAdmin'" class="dropdown">
        <a class="dropBtn" data-target="#collapseExample">Purchasing <i class="fa fa-caret-down" aria-hidden="true"></i></a>

        <div class="drop-content" id="collapseExample">
          <a href="javascript:void(0)" [routerLink]="['/inventory/supplier',0]" id="collapseExample">Supplier</a>
        </div>

      </div>

    </div>
    <a  *ngIf="user?.data?.UserGroup === 'SuperAdmin' " class="logoutBtn" (click)="logout()" title="LogOut">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
    <a  *ngIf="user?.data?.UserGroup !== 'SuperAdmin' " class="logoutBtn" (click)="logout()" title="LogOut">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</body>
<router-outlet></router-outlet>