.star {
    color: red;
    position: relative;
    top: -46px;
    left: 76px;
}

.errorss {
    position: relative;
    color: #ff0000c4;
    font-size: 11px;
    top: -17px;
}

.mat-input-element:disabled {
    color: rgb(0 0 0) !important;
}

.mat-select-disabled .mat-select-value {
    color: rgb(0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}