<a href="javascript:void(0)" routerLink={{routersLinks}} class="hoc">
    <div class="card ">
        <div class="p-4">
            <img src={{icon}} class="float-left" alt="" width="60" height="60">
            <span class="ml-auto float-right name" style="font-size:25px;font-weight:600;margin-top:5%;">
                {{title}}
            </span>
        </div>
        <div class="body p-3 text-center">
            <a href="javascript:void(0)" routerLink={{routersLinks}}>
                <i class=" fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</a>