.table thead tr th {
    padding: 4px;
    border-bottom: 1px solid #eee;
    color: #000 !important;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    vertical-align: text-top;
}

.table tbody tr td {
    padding: 0px;
    font-size: 12px !important;
}

.edits_icon {
    background: #393497e8;
    color: #fff;
    padding: 2px;
    border-radius: 24px;
    font-size: 16px;
    height: 23px !important;
    width: 23px !important;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 6px #9c9795fa;
}

.deletes_icon {
    background: #ff0000;
    color: #fff;
    padding: 2px;
    border-radius: 24px;
    font-size: 18px;
    height: 24px !important;
    width: 24px !important;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 2px 6px #9c9795fa;
}

.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
  display: block;

  overflow: auto;

}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(62, 79, 173);
}
