.totolRow{
    color: red; 
    font-weight: 600; 
    font-size: 15px;
    text-align: center;
}

.excel {
    color: #458f37 !important;
    font-size: 22px !important;
    transition: 0.5s !important;
    height: 0px !important;
    width: 0px !important;
    cursor: pointer !important;
}

.TransferInitiated{
    color:red !important;
    font-weight: 600;
}

.TransferCompleted{
    color:green !important;
    font-weight: 600;
}