
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import '~ngx-toastr/toastr';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$OguruPro-primary: mat.define-palette(mat.$indigo-palette);
$OguruPro-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$OguruPro-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$OguruPro-theme: mat.define-light-theme((
  color: (
    primary: $OguruPro-primary,
    accent: $OguruPro-accent,
    warn: $OguruPro-warn,
  )
));
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgb(0 0 0) !important;
}
.mat-placeholder-required {
    color: red !important
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: rgb(255, 81, 0) !important;
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(89, 89, 89, 0.549) !important;
}
.btn_icon{
    background: none;
    border: none; 
}

.btn_icon:focus {
    transition: 0.5s;
    transform: scale(.9);
  }

.plus_icon{
    background: #615be7;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa; 
    font-weight: 900; 
}
.plus_icon:hover{
   
    color: #615be7 !important;
    background: #ffffff;
    font-size: 23px;

}

.save_icon{
    background: #3650b4;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa; 
    font-weight: 900; 
}

.save_icon:hover{
    color: #3650b4 !important;
    background: #ffffff;
    font-size: 23px;
}

.delete_icon{
    background: #ff0000;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa;
}
.delete_icon:hover{
   
    color: #ff0000 !important;
    background: #ffffff;
    font-size: 23px;

}

.edit_icon{
    background: #393497e8;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 22px;
    height: 30px !important;
    width: 30px !important;
    transition: .5s;
    cursor: pointer;

    box-shadow: 2px 2px 6px #9c9795fa;
}

.edit_icon:hover{
   
    color: #393497e8 !important;
    background: #ffffff;
    font-size: 23px;

}

.logoutBtn{
    float: right; 
    color: aliceblue; 
    margin-right: 1% !important; 
    cursor: pointer;
    transition: 0.5s;
}

.logoutBtn:hover{
    color: rgb(228, 30, 30); 

}

.table>thead {
 
    background: #e2e2e2;
    color: #000;
}

.table thead tr th {
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #000 !important;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    vertical-align: text-top;
}

 .table tbody tr td {

    font-size: 12px !important;
    }
    thead  {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        vertical-align: top;
        
    }
    
    thead [scope=row] {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 1;
    }
    
    thead [scope=row] {
        vertical-align: top;
        color: inherit;
    }
    
    thead :not([scope=row]):first-child {
        left: 0;
        z-index: 3;
        vertical-align: top;
    }

    .page-link {
    
        border-radius: 20px;
    }
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($OguruPro-theme);

/* You can add global styles to this file, and also import other style files */

.card{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}
.content{
    background-image: url(assets/images/SHOP.svg);

    background-size: 100%;
}

.card_TBL{
    margin-top: 10px;
}
.header{
    height: 30px;
    color: rgb(255, 81, 0)
}
.blue{
    background-color: rgb(25, 19, 80);
}
.upload_icon {
    font-size: 20px;
    color: #ffffff;
    background: #ff5100;
    width: 171px;
    padding-top: 2px;
    height: 25px;
   padding-left: 4px;
    
}
.og{
    background-color: rgb(255, 81, 0);
}
.container-fluid {
    min-height: 92vh;
}

.allcard {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 100% !important;
    background-color: #ffffff !important;
    border-radius: 10px;
    padding: 10px;
}

.bc{
height: 93vh !important;

    background-color: #e3e3e3 !important;
}
.page-item.disabled .page-link {
    color: #757575;
    pointer-events: none;
    background-color: #fff;
    border-color: #e0e0e0;
    border: none;
}

.page-item:last-child .page-link {
    border: none;
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.page-item:first-child .page-link {
    border: none;
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.page-item.active .page-link {
    background-color: rgb(255, 81, 0);
    color: #ffffff !important;
    border: 0;
    box-shadow: 0 4px 9px -4px #e3ebf7;
    transition: all .2s linear;
    font-weight: 500;
}
.page-link {
    border: none !important;
    color: #757575 !important
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: #ff94009e !important;
    border-color: var(--bs-pagination-hover-border-color);
}
.page-link {
    border-radius: 5px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
