@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 10px !important; font-family: 'Roboto', sans-serif;
}

.headerSize{
    width:100wh; height:60vh;  
}

.row .col1{
    width:48wh; height:60vh; float: left; 
}

.row .col1 img{
    width: 160px; height: 160px; object-fit: cover; 
}

.row .col2{
    width:48wh;  height:60vh; float: right; 
}

.row .col2 h5{
    font-size: 22px !important; padding: 0; margin: 0;
}

.row .col2 h6{
    font-size: 16px !important; font-weight: 400; padding: 0; margin: 0; line-height: 25px;
}