@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 5px !important; font-family: 'Roboto', sans-serif; display: flex;
}
/* header css  start*/
/* company logo */
.row .col1{
    width:50%; float: left;  
}
/* company Shop details */
.row .col2{
    width:50%;  float: right; 
}
/* header css  end*/
