@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0px !important; font-family: 'Roboto', sans-serif;
}

.main{
    width: 100% !important; height: 100px; display: flex;
}

.row1{
    width: 50% !important; float: left !important; height: 100px; ; 
}

.row1 .col-1{
    width: 40%;float: left !important;
}

.row1 .col-1 .logo{
    width: 100px; height: 100px; object-fit: cover;
}

.row2{
    padding-top: 0%; width: 50% !important; float: right !important; font-size: 12px ; height: 100px; 
}

.row2 .col-1{
     width: 30%; float: left !important;
}

.row2 .col-2{ 
    width: 69%;float: right !important;
}

table{
    width: 100% !important; text-align:center; border: none; margin: 0;padding: 0px; margin-top: 1%;
}

table thead tr{
    height: 25px;  background-color: rgb(224, 224, 224); font-size: 10px;
}

table thead tr th{
    padding: 2px !important;
}

table tbody tr{
    height: 25px;  font-size: 9px;
}

table tbody tr th{
    padding: 2px !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tfoot tr th{
    border-top: 1px solid; color: red; padding: 5px !important; font-size: 10px;
}

