<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-0">
                    <div class="card p-0">
                        <div class="header p-2 py-0 pt-1">
                            <div class="row" >
                                <div class="col-xl-2 col-lg-3 col-md-4 col-8 p-0 ms-3">
                                    <h2>Discount Setting</h2>
                                </div>
                               
                            </div>
                        </div>
                        <!-- purchase list start -->
                        <div class="body mt-md-3 mt-5 p-3  pt-sm-0">
                            <!-- form start -->
                            <form #f="ngForm" autocomplete="off" #f0="ngForm" (ngSubmit)="save()">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                        <mat-form-field class="example-full-width mb-0">
                                            <mat-label>Select Product</mat-label>
                                            <mat-select name="FieldType" [(ngModel)]="data1.ProductTypeID"
                                                (selectionChange)="getFieldList()" required #Typecontrol>
                                                <mat-option>
                                                    <ngx-mat-select-search matInput [(ngModel)]="searchValue" (ngModelChange)="searchValue = onChange($event)" [ngModelOptions]="{standalone: true}">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <!-- <mat-option [value]=0>All</mat-option> -->
                                                <mat-option *ngFor="let prod of prodList  searchValue  let i = index;"
                                                    [value]="prod.ID">
                                                    {{prod.Name | uppercase}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                Select Product Type
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0"
                                        *ngFor="let spec of specList ; let i = index;">
                                        <div *ngIf="spec.FieldType === 'DropDown'" class="d-flex">
                                            <mat-form-field class=" me-2 mb-0" *ngIf="spec.DisplayAdd === 0">
                                                <mat-label>{{spec.FieldName}}</mat-label>
                                                <mat-select name="{{spec.FieldName+'0'}}"
                                                    [(ngModel)]="spec.SelectedValue"
                                                    (selectionChange)="getFieldSupportData(i)" editable="true"
                                                    [required]="spec.Required === 1" #singleSelect>
                                                    <mat-option>
                                                        <ngx-mat-select-search matInput [(ngModel)]="spec.EnteredValue" (ngModelChange)="spec.EnteredValue = onChange($event)" [ngModelOptions]="{standalone: true}">
                                                        </ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let val of spec.SptFilterData  "
                                                        [value]="val.TableValue">
                                                        {{val.TableValue}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    {{spec.FieldName}} is Required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="spec.FieldType === 'Text'" class="d-flex">
                                            <mat-form-field class=" mr-0 mb-0">
                                                <mat-label>{{spec.FieldName}}</mat-label>
                                                <input matInput name="{{spec.FieldName+'2'}}"
                                                    [(ngModel)]="spec.SelectedValue"
                                                    (ngModelChange)="spec.SelectedValue = onChange($event)"
                                                    [required]="spec.Required === 1" (blur)="getFieldSupportData(i)">
                                                <mat-error>
                                                    {{spec.FieldName}} is Required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="spec.FieldType === 'Date'" class="d-flex">
                                            <mat-form-field class=" mr-0 mb-0">
                                                <mat-label>{{spec.FieldName}}</mat-label>
                                                <input type="date" matInput name="{{spec.FieldName+'3'}}"
                                                    [(ngModel)]="spec.SelectedValue"
                                                    (ngModelChange)="spec.SelectedValue = onChange($event)"
                                                    editable="true" [required]="spec.Required === 1">
                                                <mat-error>
                                                    {{spec.FieldName}} is Required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="spec.FieldType === 'boolean'" class="d-flex">
                                            <mat-slide-toggle name="{{spec.FieldName+'3'}}" color="primary"
                                                class="example-margin" #Multiplecontrolx
                                                [(ngModel)]="spec.SelectedValue">
                                                {{spec.FieldName}}</mat-slide-toggle>
                                        </div>
                                    </div>

                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                        <mat-form-field class="example-full-width mb-0">
                                            <mat-label>DiscountType</mat-label>
                                            <mat-select name="DiscountType" [(ngModel)]="data1.DiscountType" required >
                                                <mat-option value="range" (click)="openModal(content)">Range</mat-option>
                                                <mat-option value="rupees">Rupees</mat-option>
                                                <mat-option value="percentage">Percentage</mat-option>
                                                <mat-option value="fixed">Fixed</mat-option>
                                                <mat-option value="fixed with manual">Fixed with manual</mat-option>
                                                <mat-option value="no discount">No Discount</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="data1.DiscountType != 'range'" class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-0">
                                        <mat-form-field class="example-full-width mb-0">
                                            <mat-label>DiscountValue</mat-label>
                                            <input matInput name="DiscountValue" [(ngModel)]="data1.DiscountValue" #DiscountValuecontrol
                                                [autocomplete]="false" required>
                                            <mat-error>
                                                DiscountValue is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12  mb-0 ">
                                        <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">save</button>
                                        <button type="button"  class="ms-3"  mat-raised-button color="primary">Update</button>
                                    </div>
                                </div>
                            </form>
                            <!-- form end -->
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<ng-template #content role="document" let-modal>
    <div class="modal-header" style="height: 50px;">
        <h3 class="modal-title header pt-2" id="exampleModalLabel">Range</h3>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-0">
       <form #f1="ngForm" autocomplete="off"  (ngSubmit)="AddRange()">
        <div class="row" *ngIf="data1.DiscountType == 'range'" >
            <div class="col-sm-12 table-container" >
                <table class="table" style="width:100%">
                    <thead class="thead-light">
                        <tr>
                            <th>Quantity</th>
                            <th>DiscountValue</th>
                            <th>Type</th>
                            <th>Range</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of wlcmArray1; let i = index;" style="height: 10px;">
                            <td class="text-center">
                                <mat-form-field class="example-full-width" appearance="outline" [style.width.px]=100>
                                    <input matInput [(ngModel)]="data.Quantity" name="{{data.Quantity + i}}">
                                </mat-form-field>
                            </td>
                            <td class="text-center">
                                <mat-form-field class="example-full-width" appearance="outline" [style.width.px]=100>
                                    <input matInput [(ngModel)]="data.DiscountValue" name="{{data.DiscountValue + i}}">
                                </mat-form-field>
                            </td>
                            <td class="text-center">
                                <mat-form-field class="example-full-width" appearance="outline" [style.width.px]=150>
                                    <mat-select [(ngModel)]="data.Type" name="{{data.Type + i}}">
                                        <mat-option value="percentage">Percentage</mat-option>
                                        <mat-option value="rupees ">Rupees  </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td class="text-center">
                                <button type="button" (click)="addRow()"   mat-raised-button color="primary"><i class="fa-regular fa-square-plus" style="font-size: 1.5rem;"></i></button>
                                <button type="button" (click)="deleteRow(i)"   mat-raised-button color="warn"><i class="fa-solid fa-trash-can" style="font-size: 1.5rem;"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-12  mb-0 mx-auto">
                <button style="width: 100%;" type="submit"  mat-raised-button color="primary" [disabled]="!f1.valid">save</button>
        </div>
        </div>
       </form>
    </div>
</ng-template>