// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import '~ngx-toastr/toastr';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$OguruPro-primary: mat.define-palette(mat.$indigo-palette);
$OguruPro-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$OguruPro-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$OguruPro-theme: mat.define-light-theme((color: (primary: $OguruPro-primary,
                accent: $OguruPro-accent,
                warn: $OguruPro-warn,
            )));

html body {
    zoom: 100%
}
// .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
//     background: rgb(30 38 114) !important;
//     color: white !important;
// }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="date"] {
    padding: 0rem !important;
    height: 15px;
    font-size: 14px;
    line-height: 11px !important;
    box-sizing: border-box;
    padding-top: 10px !important;
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgb(0 0 0) !important;
}

.mat-placeholder-required {
    color: red !important
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: rgb(255, 81, 0) !important;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(89, 89, 89, 0.549) !important;
}

.table>thead {
    background: #e2e2e2;
    color: #000;
}

.table thead tr th {
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #000 !important;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    vertical-align: text-top;
}

.table tbody tr td {
    font-size: 13px !important;
}

thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    vertical-align: top;
}

thead [scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}

thead [scope=row] {
    vertical-align: top;
    color: inherit;
}

thead :not([scope=row]):first-child {
    left: 0;
    z-index: 3;
    vertical-align: top;
}

.page-link {
    border-radius: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #ff5100 !important;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($OguruPro-theme);

/* You can add global styles to this file, and also import other style files */

.card {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.content {
    background-image: url(assets/images/SHOP.svg);
    background-size: 100%;
    zoom: 100%;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
}



.card_TBL {
    margin-top: 10px;
}

.header {
    height: 30px;
    color: rgb(255, 81, 0)
}

.blue {
    background-color: rgb(25, 19, 80);
}

.og {
    background-color: rgb(255, 81, 0);
}

.container-fluid {
    min-height: 93vh;
    height: auto;
}

.allcard {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 100% !important;
    background-color: #ffffff !important;
    border-radius: 10px;
    padding: 10px;
}

.bc {
    height: 93vh !important;
    background-color: #e3e3e3 !important;
}

// icon manual desing in css
.upload_icon {
    font-size: 20px;
    color: #ffffff;
    background: #ff5100;
    width: 171px;
    padding-top: 2px;
    height: 25px;
    padding-left: 4px;
}

.btn_icon {
    background: none;
    border: none;
}

.btn_icon:focus {
    transition: 0.5s;
    transform: scale(.9);
}

.plus_icon {
    background: #615be7;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa;
    font-weight: 900;
}

.plus_icon:hover {
    color: #615be7 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.Grid_icon {
    background: #615be7;
    color: #fff;
    padding: 4px;
    border-radius: 24px;
    font-size: 22px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa;
    font-weight: 900;
}

.Grid_icon:hover {
    color: #615be7 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.save_icon {
    background: #3650b4;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa;
    font-weight: 900;
}

.save_icon:hover {
    color: #3650b4 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.delete_icon {
    background: #ff0000;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa;
}

.delete_icon:hover {
    color: #ff0000 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.swap_icon {
    background: #38a042e8;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa;
}

.swap_icon:hover {
    color: #38a042e8 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.sync_disabled {
    background: #ff5100;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 23px;
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 6px #9c9795fa;

}

.sync_disabled:hover {
    color: #ff5100 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.edit_icon {
    background: #393497e8;
    color: #fff;
    padding: 3px;
    border-radius: 24px;
    font-size: 22px;
    height: 30px !important;
    width: 30px !important;
    transition: .5s;
    cursor: pointer;
    box-shadow: 2px 2px 6px #9c9795fa;
}

.edit_icon:hover {
    color: #393497e8 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.detail_icon i {
    background: #38a042e8;
    color: #fff;
    padding: 4px !important;
    border-radius: 24px !important;
    font-size: 22px !important;
    height: 30px !important;
    width: 30px !important;
    transition: .5s;
    cursor: pointer;
    box-shadow: 2px 2px 6px #9c9795fa;
}

.detail_icon i:hover {
    color: #38a042e8 !important;
    background: #ffffff;
    font-size: 23px;
    cursor: pointer
}

.fa-file-excel-o {
    color: #458f37;
    font-size: 22px !important;
    height: 30px !important;
    width: 30px !important;
    transition: .5s;
    cursor: pointer;
}

.fa-file-excel-o:hover {
    color: #458f37 !important;
    font-size: 23px;
    cursor: pointer
}

.SelectYourShop {
    color: aliceblue;
    cursor: pointer;
    transition: 0.5s;
    background: aliceblue;
    padding: 10px !important;
    border-radius: 6px;
    box-shadow: inset 1px 1px 13px #00000073;
    width: 75% !important;
}

.logoutBtn {
    float: right;
    color: aliceblue;
    margin-right: 5% !important;
    cursor: pointer;
    transition: 0.5s;
    margin-top: -42px !important;
    font-size: 25px;
}

.logoutBtn:hover {
    color: rgb(228, 30, 30);
    cursor: pointer
}

// icon manual desing in css end

// number off pagenation start css
.page-item.disabled .page-link {
    color: #757575;
    pointer-events: none;
    background-color: #fff;
    border-color: #e0e0e0;
    border: none;
}

.page-item:last-child .page-link {
    border: none;
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.page-item:first-child .page-link {
    border: none;
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.page-item.active .page-link {
    background-color: rgb(255, 81, 0);
    color: #ffffff !important;
    border: 0;
    box-shadow: 0 4px 9px -4px #e3ebf7;
    transition: all .2s linear;
    font-weight: 500;
}

.page-link {
    border: none !important;
    color: #757575 !important
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: #ff94009e !important;
    border-color: var(--bs-pagination-hover-border-color);
}

.page-link {
    border-radius: 5px;
}

// number off pagenation end css

// swal popup box in button start css
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #2d2495 !important;
    color: #fff;
    font-size: 1em;
}

// swal popup box in button end css

// ng select start import theme css or manual css

@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or 
@import "~@ng-select/ng-select/themes/material.theme.css";
/* Importing Bootstrap SCSS file. */

.ng-select .ng-select-container {
    color: rgba(0, 0, 0, 0.87);
    align-items: baseline;
    min-height: 39.5px !important;
}

.ng-select .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 0px !important;
    border: 0px !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    position: absolute;
    top: 16px !important;
    color: rgb(30 30 30);
    transform-origin: left 0;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 15px !important;
    left: 0;
    padding-left: 0px !important;
    padding-right: 50px;
}

.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
    transform: translateY(-1.28125em) scale(0.75) perspective (100px) translateZ(0.001px);
    color: #000000 !important;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: #0080ff00 !important;
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 0%), 000 0px rgba(0, 128, 255, 0) !important;
}

.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
    align-self: flex-end;
    bottom: 3px;
}

.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    align-self: flex-end;
    bottom: 5px;
    padding: 0px;
}

// ng select end css

@import '~bootstrap/scss/bootstrap';

// ngbModel dorpdowre opne in css
.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 1106px !important;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25remrgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}

// ngbModel dorpdowre end in css

//grid card start
.course-card-body {
    box-shadow: -1px 1px 9px #c4c4c4a8;
    border-radius: 10px;
    height: 425px;
    transition: .5s;
}

.course-card-body:hover {
    transform: scale(.95);
    box-shadow: -1px 2px 10px #eb582239;
}

.cardImg {
    // padding-top: 3%;
    // width: 200px;
    // height: 250px;
    // object-fit: cover;
    padding-top: 3%;
    width: 310px;
    height: 250px;
    object-fit: contain;
}

.cardAddress {
    text-overflow: ellipsis;
    width: 350px;
    padding: 0% 5%;
    overflow: hidden;
    height: 60px;

}

//grid card end

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: #ff5100;
}

.ng-select .ng-arrow-wrapper {
    width: 13px !important;
    padding-right: 1px;
}

// .mat-form-field-flex {
//     display: inline-flex;
//     align-items: baseline;
//     box-sizing: border-box;
//     width: 100%;
//     background: #f4f4f4b5 !important;
//     border: 1px solid #cecece !important;
//     border-radius: 2px !important;
// }

// .mat-form-field-infix {
//     padding: 0.5em !important;
//      border-top: 0.0em solid transparent;
// }


@media only screen and (max-width: 1400px) and (min-width: 1300px)  {
    html{
     font-size: 90% ;
  }
 }
@media only screen and (max-width: 1300px) and (min-width: 1200px)  {
    html{
     font-size: 90% ;
  }
 }
  @media only screen and (max-width: 1200px) and (min-width: 1100px)  {
    html{
     font-size: 75% ;
  }
 }
  @media only screen and (max-width: 1100px) and (min-width: 1000px)  {
    html{
        font-size: 70% ;
  }
 }
  @media only screen and (max-width: 1000px) and (min-width: 900px)  {
    html{
        font-size: 70% ;
  }
 }
  @media only screen and (max-width: 900px) and (min-width: 800px)  {
    html{
        font-size: 70% ;
  }
 }
  @media only screen and (max-width: 800px) and (min-width: 700px)  {
    html{
        font-size: 65% ;
  }
 }


