<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-md-1 col-6">
                <h4>Bill Info </h4>
            </div>
        </div>
    </div>
    <div class="body">
        <form #f="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0 pr-2 pr-md-0 pl-2 pl-md-0 ">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Invoice No.</mat-label>
                        <input matInput name="InvoiceNo" [(ngModel)]="BillMaster.InvoiceNo"
                            [disabled]="BillMaster.InvoiceNo === null" #InvoiceNoNocontrol [autocomplete]="false">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-6 col-4 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>InvoiceDate</mat-label>
                        <input matInput name="BillDate" type="date" [(ngModel)]="BillMaster.BillDate">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-6 col-4 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>DeliveryDate</mat-label>
                        <input matInput name="DeliveryDate" type="date" [(ngModel)]="BillMaster.DeliveryDate">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Entry Type</mat-label>
                        <mat-select name="Category" [(ngModel)]="category" required #Typecontrol>
                            <mat-option value="Product">Product</mat-option>
                            <mat-option value="Services">Service</mat-option>
                        </mat-select>
                        <mat-error>
                            Select Entry Type
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0 ">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Doctor</mat-label>
                        <mat-select name="Doctor" [(ngModel)]="BillMaster.Doctor" [disabled]="BillMaster.ID !== null"
                            #Doctorcontrol>
                            <mat-option [value]="0">No Doctor</mat-option>
                            <mat-option *ngFor="let doc of doctorList let i = index;" [value]="doc.ID">
                                {{doc.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            Select Doctor
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0 ">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Employee Name</mat-label>
                        <mat-select name="Employee" [(ngModel)]="BillMaster.Employee"
                            [disabled]="BillMaster.ID !== null" #Employeecontrol>
                            <mat-option value="All">All</mat-option>
                            <mat-option *ngFor="let el of employeeList let i = index;" [value]="el.ID">
                                {{el.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Tray No.</mat-label>
                        <mat-select name="TrayNo" [(ngModel)]="BillMaster.TrayNo" #Typecontrol>
                            <mat-option *ngFor="let Tray of trayNoList let i = index;" [value]="Tray.Name">
                                {{Tray.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0 ">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Product Status</mat-label>
                        <mat-select name="ProductStatus" [(ngModel)]="BillMaster.ProductStatus" disabled
                            #ProductStatuscontrol>
                            <mat-option value="Pending"> Pending </mat-option>
                            <mat-option value="Deliverd">Deliverd </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0 ">
                    <mat-form-field class="example-full-width mb-0" style="color:red">
                        <mat-label>Balance</mat-label>
                        <input matInput name="Balance" [(ngModel)]="BillMaster.Balance" disabled>
                    </mat-form-field>
                </div>
                <div class="col-md-1 col-6 pt-3">
                    <mat-slide-toggle name="Preorder" color="primary" [(ngModel)]="BillItem.PreOrder"
                        class="example-margin" #Multiplecontrol style="color:#ff651e;">
                        Preorder</mat-slide-toggle>
                </div>
                <div class="col-md-1 col-6 pt-3">
                    <mat-slide-toggle name="Ledger" color="primary" [(ngModel)]="BillItem.Manual" class="example-margin"
                        #Multiplecontrol style="color:#ff651e;">Manual</mat-slide-toggle>
                </div>
                <div class="col-md-1 col-6 p-0 pt-3">
                    <mat-slide-toggle name="WholeSale" color="primary" [(ngModel)]="BillItem.WholeSale"
                        class="example-margin" #WholeSalecontrol style="color:#ff651e;">
                        WholeSale</mat-slide-toggle>
                </div>
            </div>
            <div class="row" *ngIf="category !== 'Services'">
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>BarCode</mat-label>
                        <input matInput name="SearchBarCode" [(ngModel)]="Req.SearchBarCode"
                            (keydown.Tab)="getSearchByBarcodeNo()" required #SearchBarCodecontrol #GSTNocontrol
                            [autocomplete]="false" appAutoFoucsDirectives>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-0">
                    <!-- <mat-form-field class="example-full-width mb-0">
                    <mat-label>Search By Product Name</mat-label>
                    <input matInput name="searchString" [(ngModel)]="Req.searchString" #SearchProductNamecontrol #GSTNocontrol [autocomplete]="false" (change)="getSearchByString()">
                </mat-form-field> -->

                    <input class="searchStringInput" type="text" name="searchString" [(ngModel)]="Req.searchString"
                        #SearchProductNamecontrol #GSTNocontrol autocomplete="off" placeholder="Search By ProductName"
                        (change)="getSearchByString()" id="searchString" list="spByhList">
                    <datalist id="spByhList">
                        <option [value]="d.ProductName" *ngFor="let d of searchList">
                            {{d.ProductName}}</option>
                    </datalist>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Select By Product</mat-label>
                        <mat-select name="FieldType" [(ngModel)]="selectedProduct" (selectionChange)="getFieldList()"
                            required #Typecontrol>
                            <mat-option *ngFor="let prod of prodList   let i = index;" [value]="prod.Name">
                                {{prod.Name | uppercase}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            Select Product Type
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-12 mb-0 pt-3">
                    <mat-slide-toggle color="primary" [(ngModel)]="shopMode" [ngModelOptions]="{standalone: true}"
                        class="example-margin" style="color:#ff651e;">All Shops
                    </mat-slide-toggle>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-0"
                    *ngIf="( selectedProduct !== '' || selectedProduct !== undefined || selectedProduct !== null )">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Select Barcode</mat-label>
                        <mat-select name="FieldType" [(ngModel)]="Req.SearchBarCode" #Typecontrol>
                            <!-- <mat-option  *ngFor="let bc of barCodeList ; let i = index;" [value]="bc.Barcode">
                            {{bc.Barcode}} # {{bc.BarCodeCount}} {{bc.p}}| {{bc.ProductName | uppercase}} | {{bc.ShopName | titlecase }} <span [style.color]="'blue'" *ngIf="bc.AreaName !== 'null'">({{bc.AreaName | titlecase}})</span>
                        </mat-option> -->
                        </mat-select>
                        <mat-error>
                            Select Product Type
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- save product spec start -->
            <div class="row" *ngIf="category !== 'Services'">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0" *ngFor="let spec of specList ; let i = index;">
                    <div *ngIf="spec.FieldType === 'DropDown'" class="d-flex">
                        <mat-form-field class=" me-2 mb-0" *ngIf="spec.DisplayAdd === 0">
                            <mat-label>{{spec.FieldName}}</mat-label>
                            <mat-select name="{{spec.FieldName+'0'}}" [(ngModel)]="spec.SelectedValue"
                                (selectionChange)="getFieldSupportData(i)" editable="true"
                                [required]="spec.Required === 1" #singleSelect>
                                <mat-option>
                                </mat-option>
                                <mat-option *ngFor="let val of spec.SptFilterData " [value]="val.TableValue">
                                    {{val.TableValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                {{spec.FieldName}} is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="spec.FieldType === 'Text'" class="d-flex">
                        <mat-form-field class=" mr-0 mb-0">
                            <mat-label>{{spec.FieldName}}</mat-label>
                            <input matInput name="{{spec.FieldName+'2'}}" [(ngModel)]="spec.SelectedValue"
                                (ngModelChange)="spec.SelectedValue = onChange($event)" [required]="spec.Required === 1"
                                (blur)="getFieldSupportData(i)">
                            <mat-error>
                                {{spec.FieldName}} is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="spec.FieldType === 'Date'" class="d-flex">
                        <mat-form-field class=" mr-0 mb-0">
                            <mat-label>{{spec.FieldName}}</mat-label>
                            <input type="date" matInput name="{{spec.FieldName+'3'}}" [(ngModel)]="spec.SelectedValue"
                                (ngModelChange)="spec.SelectedValue = onChange($event)" editable="true"
                                [required]="spec.Required === 1">
                            <mat-error>
                                {{spec.FieldName}} is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="spec.FieldType === 'boolean'" class="d-flex">
                        <mat-slide-toggle name="{{spec.FieldName+'3'}}" color="primary" class="example-margin"
                            #Multiplecontrolx [(ngModel)]="spec.SelectedValue">
                            {{spec.FieldName}}</mat-slide-toggle>
                    </div>
                </div>
                <div *ngIf="!BillItem.PreOrder && showProductExpDate" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Product Expiry Date</mat-label>
                        <input matInput type="date" name="ProductExpDate" [(ngModel)]="BillItem.ProductExpDate">
                    </mat-form-field>
                </div>
                <div *ngIf="selectedProduct?.toUpperCase() === 'LENS' || selectedProduct?.toUpperCase() === 'CONTACT LENS'"
                    class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Family Name</mat-label>
                        <mat-select name="FamilyName" [(ngModel)]="BillItem.Family">
                            <mat-option></mat-option>
                            <mat-option selected value="Self">Self</mat-option>
                            <mat-option [value]="f.Name" *ngFor="let f of familyList"> {{f.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="selectedProduct?.toUpperCase() === 'LENS'"
                    class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Option</mat-label>
                        <mat-select name="Category" [(ngModel)]="BillItem.Option" required #Typecontrol>
                            <mat-option value="Full Glass">Full Lens</mat-option>
                            <mat-option value="Half Glass Left">Half Lens Left</mat-option>
                            <mat-option value="Half Glass Right">Half Lens Right</mat-option>
                        </mat-select>
                        <mat-error>
                            Select Entry Type
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- save product spec end -->
        </form>

        <form #f="ngForm" (ngSubmit)="addItem()">
            <div class="row" *ngIf="category !== 'Services'">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Product Name</mat-label>
                        <input style="color: rgb(255 0 0);" matInput name="ProdName" [(ngModel)]="BillItem.ProductName"
                            [disabled]=true>
                    </mat-form-field>
                </div>
                <!-- <div class="col-xl-1 col-lg-1 col-md-2 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Barcode</mat-label>
                        <input style="color: rgb(255 0 0);" matInput name="ProdBarcode" [(ngModel)]="BillItem.Barcode" [disabled]=true>
                    </mat-form-field>
                </div> -->
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Available</mat-label>
                        <input style="color: rgb(255 0 0);" matInput name="BarCodeCount"
                            [(ngModel)]="BillItem.BarCodeCount" [disabled]=true>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="category !== 'Services'">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Unit Price</mat-label>
                        <input type="number" matInput name="UnitPrice" [(ngModel)]="BillItem.UnitPrice" required
                            (blur)="calculations('UnitPrice', 'subTotal')" #UnitPricecontrol [autocomplete]="false">
                        <mat-error>
                            Unit Price is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Quantity</mat-label>
                        <input matInput name="Quantity" [(ngModel)]="BillItem.Quantity" type="number"
                            (blur)="calculations('Quantity', 'subTotal')" required #Quantitycontrol
                            [autocomplete]="false">
                        <mat-error>
                            Quantity is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Discount%</mat-label>
                        <input type="number" matInput name="Discount" [(ngModel)]="BillItem.DiscountPercentage"
                            (blur)="calculations('DiscountPercentage', 'discount')" [required]=true #Discountcontrol
                            [autocomplete]="false">
                        <mat-error>
                            Discount is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Discount amt</mat-label>
                        <input type="number" matInput name="DiscountAmt" [(ngModel)]="BillItem.DiscountAmount"
                            (blur)="calculations('DiscountAmount', 'discount')" [required]=true #Discountcontrol
                            [autocomplete]="false">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Sub Total</mat-label>
                        <input type="number" matInput name="SubTotal" [(ngModel)]="BillItem.SubTotal"
                            (blur)="calculations('GSTPercentage', 'gst')" [disabled]='true' required #SubTotalcontrol
                            [autocomplete]="false">
                        <mat-error>
                            Sub Total is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>(GST/VAT)%</mat-label>
                        <input type="number" matInput name="GST" [(ngModel)]="BillItem.GSTPercentage" required
                            (blur)="calculations('GSTPercentage', 'gst')" #GSTcontrol [autocomplete]="false">
                        <mat-error>
                            GST is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>TAX Type</mat-label>
                        <mat-select name="GSTType" [(ngModel)]="BillItem.GSTType" required
                            (selectionChange)="calculations('TotalAmount', 'total')" #GSTTypecontrol1>
                            <mat-option value="None">None</mat-option>
                            <mat-option [value]="g.Name" *ngFor="let g of gstList">{{g.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Total Amount</mat-label>
                        <input type="number" matInput name="TotalAmount" [(ngModel)]="BillItem.TotalAmount" disabled
                            required #TotalAmountcontrol>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Remark</mat-label>
                        <input matInput name="Remark" [(ngModel)]="BillItem.Remark">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Warranty</mat-label>
                        <input matInput name="Warranty" [(ngModel)]="BillItem.Warranty">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0 mb-3  ms-auto">
                    <button type="submit"
                        [disabled]="!f.valid || this.BillItem.Quantity === 0 || this.BillItem.Barcode === null"
                        mat-raised-button color="primary">Add</button>
                </div>
            </div>
            <!-- services calclution -->
            <div class="row" *ngIf="category === 'Services'">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Service Type</mat-label>
                        <mat-select name="Name" [(ngModel)]="Service.ServiceType" required (selectionChange)="setValues()" #ServiceTypecontrol1>
                            <mat-option *ngFor="let service of serviceType let i = index;" [value]="service.ID">
                               {{service.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Description</mat-label>
                        <input matInput name="Description" [(ngModel)]="Service.Description" #Descriptioncontrol>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Amount</mat-label>
                        <input matInput name="Amount" [(ngModel)]="Service.Price" required #Amountcontrol>
                        <mat-error>
                            Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>(GST/VAT)%</mat-label>
                        <input matInput name="GST" [(ngModel)]="Service.GSTPercentage" required #GSTcontrol
                            [autocomplete]="false">
                        <mat-error>
                            GST is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>TAX Amt</mat-label>
                        <input matInput name="GSTAmt" [(ngModel)]="Service.GSTAmount" required #GSTAmtcontrol
                            [autocomplete]="false">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>TAX Type</mat-label>
                        <mat-select name="GSTType" [(ngModel)]="Service.GSTType" required #GSTTypecontrol1>
                            <mat-option value="None">None</mat-option>
                            <mat-option [value]="g.Name" *ngFor="let g of gstList">{{g.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Total Amount</mat-label>
                        <input matInput name="TAmount" [(ngModel)]="Service.TotalAmount" required #TAmountcontrol
                            [autocomplete]="false">
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12 mb-0  mb-3">
                    <button class="mr-3" type="submit" [disabled]="!f.valid" mat-raised-button
                        color="primary">Add</button>
                </div>
            </div>
        </form>
        <!-- service calcultion end -->
        <!-- temp table  -->
        <form #f2="ngForm">
            <div class="row mt-0">
                <div class="col-sm-12" style="overflow-y: scroll; max-height: 150px; margin: 0;">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th> <mat-checkbox name="TempProductStatus"></mat-checkbox> </th>
                                <th class="text-center">S.No</th>
                                <th class="text-center">Action</th>
                                <th class="text-center">HSNCode</th>
                                <th class="text-center">Barcode</th>
                                <th class="text-center">ProductName</th>
                                <th class="text-center">UnitPrice</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">SubTotal</th>
                                <th class="text-center">GSTAmt</th>
                                <th class="text-center">GSTPer</th>
                                <th class="text-center">GSTType</th>
                                <th class="text-center">DiscountAmt</th>
                                <th class="text-center">DiscountPer</th>
                                <th class="text-center">TotalAmt</th>
                                <th class="text-center">Remark</th>
                                <th class="text-center">Warranty</th>
                                <th class="text-center">Option</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let data of billItemList ; let i = index;">
                                <td></td>
                                <td>{{i+1}}</td>
                                <td></td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.HSNCode}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.Barcode}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.ProductName}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.UnitPrice}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.Quantity}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.SubTotal}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.GSTAmount}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.GSTPercentage}}%</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.GSTType}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.DiscountAmount}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.DiscountPercentage}}%</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{data.TotalAmount}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{(data.Remark !== 'undefined')? data.Remark: '-'}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{(data.Warranty !== 'undefined')? data.Warranty: '-'}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">{{(data.Option !== 'undefined' && data.Option !== 'null')?data.Option: '-'}}</td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">
                                    <span *ngIf="data.Manual === 1">Manual</span> 
                                    <span *ngIf="data.PreOrder === 1">PreOrder</span> 
                                    <span *ngIf="data.PreOrder === 0 && data.Manual === 0">Stock</span>
                                </td>
                                <td [ngClass]="{'deleteClass': data.Status === 0, 'addClass': data.Status === 2 }">
                                    <span *ngIf="data.Cancel === 0">Cancel</span>
                                    <span *ngIf="data.Cancel === 1">-</span>
                                 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 mb-0 ">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label class="cus-label">Quantity</mat-label>
                        <input class="cust-input" matInput name="Quantityt" [(ngModel)]="BillMaster.Quantity" disabled
                            #Quantitytcontrol [autocomplete]="false">
                        <mat-error>
                            Quantity is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label class="cus-label">Sub Total</mat-label>
                        <input class="cust-input" matInput name="SubTotalt" [(ngModel)]="BillMaster.SubTotal" disabled
                            #SubTotaltcontrol [autocomplete]="false">
                        <mat-error>
                            Sub Total is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label class="cus-label">D.Amount</mat-label>
                        <input class="cust-input" matInput name="DAmountt" [(ngModel)]="BillMaster.DiscountAmount"
                            disabled #DAmounttcontrol [autocomplete]="false">
                        <mat-error>
                            D.Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label class="cus-label">GST Amt</mat-label>
                        <input class="cust-input" matInput name="GSTAmt" [(ngModel)]="BillMaster.GSTAmount" required
                            #GSTAmtcontrol [autocomplete]="false" disabled>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label class="cus-label">CGST</mat-label>
                        <input class="cust-input" matInput name="CGST" [(ngModel)]="cgst" disabled>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label class="cus-label">SGST</mat-label>
                        <input class="cust-input" matInput name="SGST" [(ngModel)]="sgst" disabled>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Additional Discount%</mat-label>
                        <input matInput name="AddlDiscount" [(ngModel)]="BillMaster.AddlDiscount" #AddlDiscounttcontrol
                            [autocomplete]="false">
                        <mat-error>
                            Additional Discount is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Additional Discount</mat-label>
                        <input matInput name="AddlDiscount" [(ngModel)]="BillMaster.AddlDiscount" #AddlDiscounttcontrol
                            [autocomplete]="false">
                        <mat-error>
                            Additional Discount is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Grand Amount</mat-label>
                        <input matInput name="GrandAmount" disabled>
                    </mat-form-field>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 mb-0">
                    <mat-form-field class="example-full-width mb-0">
                        <mat-label>Round Off</mat-label>
                        <input matInput name="GrandAmount" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <button type="button" mat-raised-button color="primary">Save</button>
                    <button type="button" class="me-3 ms-3" mat-raised-button color="primary">Update</button>
                    <button type="button" mat-raised-button color="primary">Receipt</button>
                    <button type="button" class="me-3 ms-3" mat-raised-button color="primary">Receipt +
                        Power</button>
                    <button type="button" mat-raised-button color="primary">Invoice</button>
                    <button type="button" class="me-3 ms-3" mat-raised-button color="primary">Invoice +
                        Power</button>
                    <button type="button" mat-raised-button color="primary"> Whatsapp</button>
                    <button type="button" class="me-3 ms-3" mat-raised-button color="primary">Email</button>
                </div>
            </div>
        </form>
    </div>
</div>