.searchStringInput{
    width: 100%;
    border-width: 0px 0px 1px 0px;
    height: 39px;
    font-size: 15px;
    padding-top: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.deleteClass {
    color: red;
    text-decoration: line-through;
}

.addClass {
    color: green;
} 

.otherShopClass{
    color: red;
}